{{  define "ConsumableList"}}
{{template "head" .}}

<div class="page-header">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <div class="d-inline">
          <h5>Consumable Details</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 ">
      <a class="float-right font-weight-bold btn btn-outline-primary btn-rounded ml-2" title="Create Consumables"
        href="/Consumables/Consumables"><i class="ik ik-plus "></i><span>Add</span></a>
      <div class=" dropdown float-right ">
        <button type="button" class="btn dropdown-toggle font-weight-bold  btn-outline-primary btn-rounded"
          data-toggle="dropdown">
          Actions
        </button>
        <div class="dropdown-menu ">
          <!-- <a class="dropdown-item " data-toggle="modal" data-target="#groupmodal" id="BulkEdit">Bulk Edit</a>
          <a class="dropdown-item " href="#">Bulk Delte</a>
          <a class="dropdown-item " href="#">Bulk Retire</a> -->
          <a class="dropdown-item " id="BulkTransfer" href="javascript:void(0)">Mark to Transfer</a>
        </div>
        <a href="/Consumables/ConsumableHistory"
          class="btn dropdown-toggle  ml-1 font-weight-bold  btn-outline-primary btn-rounded">
          History
        </a>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div class="dt-responsive">
          <table class="table table-striped table-hover  table-bordered nowrap " id="tblConsumable">
            <thead>
              <th>ID</th>
              <th><input type="checkbox" id="chkSelectAll"></th>
              <th>Consumable Name</th>
              <th>Group</th>
              <th>Identification No.</th>
              <th>Descrption</th>
              <th>Toatal Qnty.</th>
              <th>Threshold Qnty.</th>
              <!-- <th>Reorder Stock Price</th> -->
              <th>Reorder Quantity</th>
              <th>Location Name</th>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <div id="tblbtn" class="btn-group dropright float-left ">
      <button type="button" class="btn btn-info dropdown-toggle  " data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Export </button>
      <div id="tblbtnList" class="dropdown-menu">
      </div>
    </div>
    <div id="tblClmnbtn" class="btn-group dropright float-left mr-1 ">
      <button type="button" class="btn btn-info dropdown-toggle btn-sm " data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Fields </button>
      <div id="tblClmnbtnList" class="dropdown-menu">
        <div class="form-check form-check-inline dropdown-item">
          <input class="form-check-input chkClmn" type="checkbox" checked id="chkAll">
          <label class="form-check-label " for="chkAll">( Select All )</label></div>

        
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="groupmodal" tabindex="-1" role="dialog" aria-labelledby="groupmodalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="groupmodalTitle">Edit Items</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body " id="modalbody">

      </div>

    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    if ("{{.Auth.Accesstoalllocations}}")
      url = '/Consumables/GetConsumableList/0'
    else
      url = '/Consumables/GetConsumableList/' + $("#locationid").val()
    var tbl = $('#tblConsumable').DataTable({
      responsive: true,
      "processing": true,
      scrollY: $(window).height() - 350,
      scrollCollapse: true,
      scrollX: true,
      destroy: true,
      dom: 'Bfrtip',
      ajax: {
        "url": url,
        "type": "GET",
        "datatype": "json",
        "dataSrc": ""//to read data from a plain array rather than an array in an object:
      },
      columnDefs: [
        { orderable: false, targets: 1 },
        { visible: false, targets: 0 }
      ],
      order: [[0, 'desc']],
      // destroy: true,//to over come reintilize prblms
      "columns": [
        {
          "name": "IDConsumables",
          'data': 'IDConsumables'
        },
        {
          "name": "Select",
          'data': null,
          render: function (dt) {
            return '<input type="checkbox" class="tblchk " data-name="' + dt.Consumablemaster.ConsumableName + '"  value=' + dt.IDConsumables + '>';
          }
        }, {
          "name": "ConsumableName",
          'data': null,
          render: function (dt) {
            return '<a  href="/Consumables/ConsumableView/' + dt.IDConsumables + '" class="text-warning font-weight-bold">' + dt.Consumablemaster.ConsumableName + '</a> ';
          }
        }, {
          "name": "GroupName",
          'data': null,
          render: function (dt) {
            return dt.Consumablemaster.GroupName;
          }

        }, {
          "name": "IdentificationNo",
          'data': 'IdentificationNo'
        }, {
          "name": "Description",
          "data": "Description"
        }, {
          "name": "TotalQnty",
          'data': 'TotalQnty'
        }, {
          "name": "ThresholdQnty",
          "data": "ThresholdQnty"
        },
        
        // , {
        //   "name": "ReOrderStockPrice",
        //   'data': null,
        //   render: function (dt) {
        //     return "₹ "+dt.ReOrderStockPrice;
        //   }
        // },
        {
          "name": "ReOrderQuantity",
          'data': 'ReOrderQuantity'
        },
        {
          "name": "Location",
          'data': 'Location.Name'
        }
      ],

      buttons: [

        {
          text: 'Print',
          extend: "print",
          title: "Consumable Details",
          className: ' dropdown-item',
          exportOptions: {
            columns: ':visible'
            // columns: ':not(.notexport)'
          }
        },
        {
          text: 'Excel',
          extend: "excel",
          className: ' dropdown-item',
          title: "Consumable Details",
          exportOptions: {
            columns: ':visible'
            // columns: ':not(.notexport)'
          }
        }
      ]
    });



    $("#tblbtn").prependTo('#tblConsumable_filter')
    tbl.buttons().containers().prependTo('#tblbtnList')
    $('.dt-button').removeClass('dt-button').addClass(' btn btn-light btn-sm ');
    $(".buttons-colvis").removeClass('btn-light').addClass('btn-info float-left ml-1').appendTo('#tblConsumable_filter')

    //columns hide /show
    $("#tblClmnbtn").prependTo('#tblConsumable_filter')

    var idx = 0;
    //show hide clmns
    tbl.columns().every(function () {
      if (idx != 0 && idx != 1) {
        var html = '<div class="form-check form-check-inline dropdown-item">'
        html += '<input class="form-check-input chkClmn" type="checkbox" checked id="chk' + idx + '" value="' + idx + '">'
        html += '<label class="form-check-label " for="chk' + idx + '">' + this.header().innerHTML + '</label></div>'
        $("#tblClmnbtnList").append(html)
      }
      idx++;

    });

    $("input.chkClmn").click(function (e) {
      // Get the column API object
      if ($(this).attr('id') == "chkAll") {
        if ($(this).prop("checked")) {
          for (var i = 1; i < tbl.init().columns.length; i++) {
            tbl.column(i).visible(true, true)
          }
          $("input.chkClmn").prop("checked", true)
          tbl.columns.adjust().draw();
        }
      }
      else {
        var column = tbl.column($(this).val());
        // Toggle the visibility
        if ($(this).prop("checked"))
          column.visible(true);
        else {
          column.visible(false);
          $("#chkAll").prop("checked", false)
        }
      }

    })



    $("#BulkEdit").click(function (e) {
      var SelectedIds = new Object();
      tbl = $('#tblConsumable').DataTable()
      $("input:checked", tbl.rows().nodes()).each(function () {
        SelectedIds[$(this).val()] = $(this).attr("data-name")
      });
      var url = "/Consumables/ConsumableBulkEdit"
      $.ajax({
        url: url,
        type: 'GET',
        data: { SelectedIds: JSON.stringify(SelectedIds) },
        dataType: 'HTML',
        async: false,
        success: function (data) {

          $("#modalbody").html(data);
        }
      });
    })







    $("#chkSelectAll").click(function () {

      if ($("#chkSelectAll").prop('checked'))
        $(".tblchk").prop('checked', true);
      else
        $(".tblchk").prop('checked', false);
    })


    //transfer
    $("#BulkTransfer").click(function () {
      var ok = true
      if ($("#tblConsumable td input[type='checkbox']:checked").length <= 0) {
        Toast("warning", "Please select atleast one 'Available' Asset(s).")
        return false;
      }
      var ary = new Array()
      var empid = parseInt($("#employeeid").val())
      $("#tblConsumable td input[type='checkbox']:checked").each(function () {
        var rowdata = tbl.row($(this).parents('tr')).data()
        if (rowdata.TotalQnty <= 0) {
         
          Toast("info", "Stock not availble to transfer")
          array = null;
          ok = false
          return false;

        }
        else {
          var obj = new Object();
          obj.AssetID = rowdata.IDConsumables
          obj.AssetName = rowdata.Consumablemaster.ConsumableName
          obj.AssetType = "consumable"
          obj.SenderEmpID = empid
          ary.push(obj)
        }
      });

      if (ok)
        $.ajax({
          url: "/CreateOutWardCart",
          type: 'POST',
          data: JSON.stringify(ary),
          dataType: 'json',
          async: false,
          success: function (data) {
           
            Toast("success", "Consumables are  ready for request.")
          }
        });
    })


  });

</script>
<!-- //transfer -->



{{template "footer"}}
{{end}}