{{define "dashboard"}}
{{template "head" .}}

<div class="page-header">
      <div class="row align-items-end">
            <h4>Dashboard</h4>
      </div>
</div>
<div class="row">
      {{if .Auth.EmployeeList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-red">
                  <div class="card-body">
                        <div class="row align-items-center  mb-30 ">
                              <div class="col">
                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ActivationPendingUsers}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/UsersList"> <i class="fa fa-hand-point-up text-red f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white">Activation Pending</h6>
                  </div>
            </div>
      </div>
      {{end}}
      {{if .Auth.EmployeeList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-blue">
                  <div class="card-body">
                        <div class="row align-items-center  mb-30 ">
                              <div class="col">

                                    <h3 class="mb-0 fw-700 text-white">{{.Data.InActiveUsers}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/UsersList"> <i class="fas fa-user-times text-blue f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white">InActive Users</h6>
                  </div>
            </div>
      </div>
      {{end}}
</div>
<div class="row">
      {{if .Auth.RequisitionDetails}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-red">
                  <div class="card-body">
                        <div class="row align-items-center  mb-30 ">
                              <div class="col">
                                    <h3 class="mb-0 fw-700 text-white">{{.Data.RequisitionRequestesPending}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/RequisitionDetails"> <i class="fas fa-file-alt text-red f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white">Requisition Requestes Pending</h6>
                  </div>
            </div>
      </div>
      {{end}}
      {{if .Auth.RequisitionApprovalList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-blue">
                  <div class="card-body">
                        <div class="row align-items-center  mb-30 ">
                              <div class="col">

                                    <h3 class="mb-0 fw-700 text-white">{{.Data.RequisitionApprovalRequests}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/RequisitionApprovalDetails"> <i class="fas fa-file-alt  text-blue f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white">Requisition Approval Requests</h6>
                  </div>
            </div>
      </div>
      {{end}}
</div>
<div class="row">
      {{if .Auth.ITAssetList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-green">
                  <div class="card-body">
                        <div class="row align-items-center  mb-30 ">
                              <div class="col">

                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ITAssetsAvailable}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/ITAssets"> <i class="fas fa-tv text-green f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">IT Assets Available</h6>
                  </div>
            </div>
      </div>
      {{end}}
      {{if .Auth.ITAssetList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-red">
                  <div class="card-body">
                        <div class="row align-items-center  mb-30 ">
                              <div class="col">

                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ITAssetsAssigned}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/ITAssets"> <i class="fas fa-tv text-red f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">IT Assets Assigned</h6>
                  </div>
            </div>
      </div>
      {{end}}
      {{if .Auth.ITAssetList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-green">
                  <div class="card-body">
                        <div class="row align-items-center  mb-30 ">
                              <div class="col">

                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ITAssetWarrentyExpired}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/ITAssets"> <i class="fas fa-hourglass text-green f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">IT Asset Warranty Expired</h6>
                  </div>
            </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-green">
                  <div class="card-body">
                        <div class="row align-items-center  mb-30 ">
                              <div class="col">

                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ITAssetWarrentyExpireSoon}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/ITAssets"> <i class="fas fa-hourglass text-green f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">IT Asset Warranty Expire soon</h6>
                  </div>
            </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-green">
                  <div class="card-body">
                        <div class="row align-items-center  mb-30 ">
                              <div class="col">

                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ITAssetExpectedCheckInDate}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/ITAssets"> <i class="fas fa-hourglass text-green f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">IT Asset CheckInDate Due</h6>
                  </div>
            </div>
      </div>
      {{end}}

      {{if .Auth.ITAssetRequestList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-blue">
                  <div class="card-body">
                        <div class="row align-items-center mb-30 ">
                              <div class="col">
                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ITAssetApprovals}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/ITAssets/RequestList"> <i class="fas fa-check text-blue f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">IT Asset Approvals</h6>
                  </div>
            </div>
      </div>
      {{end}}

      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-yellow">
                  <div class="card-body">
                        <div class="row align-items-center mb-30 ">
                              <div class="col">

                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ITAssetServiceRequests}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="#">
                                          <i class="fas fa-exclamation-circle text-warning f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">IT Asset Issue Service Requests</h6>
                  </div>
            </div>
      </div>
</div>
<div class="row">

      {{if .Auth.NonITAssetRequestList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-blue">
                  <div class="card-body">
                        <div class="row align-items-center mb-30 ">
                              <div class="col">
                                    <h3 class="mb-0 fw-700 text-white">{{.Data.NonITAssetApprovals}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/NonITAssetRequestList"> <i class="fas fa-check text-blue f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">Non-IT Asset Approvals</h6>
                  </div>
            </div>
      </div>
      {{end}}

      {{if .Auth.NonITAssetList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-red">
                  <div class="card-body">
                        <div class="row align-items-center mb-30 ">
                              <div class="col">
                                    <h3 class="mb-0 fw-700 text-white">{{.Data.NonITAssetThreshold}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/NonITAsset/List"> <i class="fas fa-cart-plus text-red f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">Non-IT Assets Threshold Reached</h6>
                  </div>
            </div>
      </div>
      {{end}}
</div>
<div class="row">
      {{if .Auth.ConsumableList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-red">
                  <div class="card-body">
                        <div class="row align-items-center mb-30 ">
                              <div class="col">
                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ConsumableThreshold}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/Consumables/ConsumableList"> <i
                                                class="fas fa-cart-plus text-red f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">Consumables Threshold Reached</h6>
                  </div>
            </div>
      </div>
      {{end}}
</div>
<div class="row">
      {{if .Auth.ApprovalList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-red">
                  <div class="card-body">
                        <div class="row align-items-center mb-30 ">
                              <div class="col">
                                    <h3 class="mb-0 fw-700 text-white">{{.Data.OutwardApproval}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/OWApprovalDeatils"> <i class="fas fa-check text-red f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">Outward Approval Requests</h6>
                  </div>
            </div>
      </div>
      {{end}}
      {{if .Auth.OutWardList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-yellow">
                  <div class="card-body">
                        <div class="row align-items-center mb-30 ">
                              <div class="col">
                                    <h3 class="mb-0 fw-700 text-white">{{.Data.ReadyToShip}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/OutWardDetails"> <i class="fas fa-truck text-red f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">Ready To Transfer</h6>
                  </div>
            </div>
      </div>
      {{end}}
      {{if .Auth.InWardList}}
      <div class="col-xl-3 col-sm-6 col-md-4">
            <div class="card prod-p-card card-blue">
                  <div class="card-body">
                        <div class="row align-items-center mb-30 ">
                              <div class="col">
                                    <h3 class="mb-0 fw-700 text-white">{{.Data.InWardAssets}}</h3>
                              </div>
                              <div class="col-auto">
                                    <a href="/InWardDetails"> <i class="fas fa-truck text-black f-18"></i></a>
                              </div>
                        </div>
                        <h6 class="mb-0 text-white ">InWard Assets In-Transit</h6>
                  </div>
            </div>
      </div>
      {{end}}


</div>

{{template "footer"}}
{{end}}