{{  define "EmployeesList"}}
{{template "head" .}}
<div class="page-header">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <div class="d-inline">
          <h5>Employee Details</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <a class="float-right  font-weight-bold btn btn-outline-primary btn-rounded ml-1" title="History"
        href="/EmployeesHistory"><i class="ik ik-list  "></i><span>History</span></a>
      <a class="float-right  font-weight-bold btn btn-outline-primary btn-rounded" title="Create Employee"
        href="/employee/create"><i class="ik ik-plus "></i><span>ADD</span></a>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <div class="dt-responsive">
          <table id="tblEmployee" class="table table-striped table-bordered " width="100%">
            <thead>
              <th class="notexport">ID</th>

              <th>Name</th>
              <th>Date Of Birth</th>
              <th>Email</th>
              <th>Employee Code</th>
              <th>Mobile</th>
              <th>Correspondence Address</th>
              <th>Permanent Address</th>
              <th>Education</th>
              <th>Experience</th>
              <th>Role</th>
              <th>Designation</th>
              <th>Date Of Joining</th>
              <th>Status</th>
              <th class="notexport">Actions</th>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div id="tblbtn" class="btn-group dropright float-left ">
      <button type="button" class="btn btn-info dropdown-toggle btn-sm " data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Export </button>
      <div id="tblbtnList" class="dropdown-menu">
      </div>
    </div>
    <div id="tblClmnbtn" class="btn-group dropright float-left mr-1 ">
      <button type="button" class="btn btn-info dropdown-toggle btn-sm " data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Fields </button>
      <div id="tblClmnbtnList" class="dropdown-menu">
        <div class="form-check form-check-inline dropdown-item">
          <input class="form-check-input chkClmn" type="checkbox" checked id="chkAll">
          <label class="form-check-label " for="chkAll">( Select All )</label></div>

        <!-- <div class="dropdown-divider"></div> -->
      </div>
    </div>
    <button type="button" id="btnRefresh" title="Refresh" class="btn btn-info btn-sm  float-left  ml-1 "><i
        class="ik ik-refresh-ccw"></i>
    </button>
  </div>
</div>




<!-- view -->


<div class="modal fade bd-example-modal-lg employeeeView" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="employeeeViewBodyLabel">
          Employee Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body employeeeViewBody">
      </div>

    </div>
  </div>
</div>

<script>

  $(document).ready(function () {
    var url;
    if ("{{.Auth.Accesstoalllocations}}") {
      url = '/GetEmployeesList'
    } else {
      url = '/GetEmployeesList?LocID=' + $("#locationid").val()
    }
    var tbl = $('#tblEmployee').DataTable({
      responsive: true,
      "processing": true,
      scrollY: $(window).height() - 350,
      scrollCollapse: true,
      scrollX: true,
      destroy: true,
      dom: 'Bfrtip',
      ajax: {

        "url": url,
        "type": "GET",
        "datatype": "json",
        "dataSrc": ""//to read data from a plain array rather than an array in an object:
      },
      columnDefs: [
        { orderable: false, targets: 14 },
        { visible: false, targets: 0 }
      ],
      "order": [
        [0, 'desc']
      ],
      // destroy: true,//to over come reintilize prblms
      "columns": [
        {
          "name": "IDEmployees",
          'data': 'IDEmployees'
        }, {
          "name": "Name",
          'data': null,
          render: function (dt) {
            return '<a class="btn btn-sm  font-weight-bold text-info"   href="/employee/' + dt.IDEmployees + '/mode/view">' + dt.FirstName + ' ' + dt.LastName + '</a> ';
          }
        }, {
          "name": "Date Of Birth",
          'data': "DOB",
          render: function (dt) {
            return jsondate(dt);
          }
        }, {
          "name": "Email",
          'data': 'Email'
        }, {
          "name": "EmpCode",
          'data': 'EmpCode'
        }, {
          "name": "Mobile",
          "data": "Mobile"
        }, {
          "name": "Address",
          'data': 'Address'
        }, {
          "name": "PrmntAddress",
          'data': 'PrmntAddress'
        }, {
          "name": "Education",
          'data': 'EducationData',
          render: function (dt) {
            return dt.Name
          }
        }, {
          "name": "Experience",
          "data": null,
          render: function (dt) {
            var res;
            if (dt.ExperienceYear == 0) {
              res = dt.ExperienceMonth + ' month(s)'
            } else {
              if (dt.ExperienceMonth == 0)
                res = dt.ExperienceYear + ' yr(s)'
              else
                res = dt.ExperienceYear + ' yr(s)  ' + dt.ExperienceMonth + ' month(s)'
            }
            return res
          }
        }, {
          "name": "Role",
          'data': 'User.Role.RoleName'
        }, {
          "name": "Designation",
          'data': 'DesignationData',
          render: function (dt) {
            return dt.DesignationName
          }

        }, {
          "name": "Date Of Joining",
          'data': 'DOJ',
          render: function (dt) {
            return jsondate(dt);
          }
        }, {
          "name": "Status",
          "data": "Status"
        }, 
        {
          "name": "Action",
          'data': null,
          render: function (dt) {
            var res = ""
            "{{if .Auth.UpdateEmployee}}"
            res += '<a title="Edit"   href="/employee/' + dt.IDEmployees + '/mode/edit" class="text-warning "><i class= "fa fa-edit"></i></a>'
            " {{end}}"
            res += '<a title="View"   href="/employee/' + dt.IDEmployees + '/mode/view" class="text-warning  ml-2"><i class= "fa fa-eye"></i></a>'
            "{{if .Auth.DeleteEmployee}}"
            res += '<a href="#" title="Delete" class="text-warning  list-delete"><i class="ik ik-trash-2"></i><span></span></a>';
            " {{end}}"
            return res;
          }
        }
      ]
      ,

      buttons: [

        {
          text: 'Print',
          extend: "print",
          title: "Employee Details",
          className: ' dropdown-item',
          exportOptions: {
            columns: ':visible',
            columns: ':not(.notexport)'
          }
        },
        {
          text: 'Excel',
          extend: "excel",
          className: ' dropdown-item',
          title: "Employee Details",
          exportOptions: {
            columns: ':visible',
            columns: ':not(.notexport)'
          }
        }
      ]
    });



    $("#tblbtn").prependTo('#tblEmployee_filter')
    tbl.buttons().containers().prependTo('#tblbtnList')
    $('.dt-button').removeClass('dt-button').addClass(' btn btn-light btn-sm ');
    $(".buttons-colvis").removeClass('btn-light').addClass('btn-info float-left ml-1').appendTo('#tblEmployee_filter')
    $("#tblClmnbtn").prependTo('#tblEmployee_filter')
    $("#btnRefresh").appendTo('#tblEmployee_filter')
    var idx = 0;
    //show hide clmns
    tbl.columns().every(function () {
      if (idx != 0 && idx != 1) {
        var html = '<div class="form-check form-check-inline dropdown-item">'
        html += '<input class="form-check-input chkClmn" type="checkbox" checked id="chk' + idx + '" value="' + idx + '">'
        html += '<label class="form-check-label " for="chk' + idx + '">' + this.header().innerHTML + '</label></div>'
        $("#tblClmnbtnList").append(html)
      }
      idx++;

    });

    $("input.chkClmn").click(function (e) {

      // Get the column API object
      if ($(this).attr('id') == "chkAll") {
        if ($(this).prop("checked")) {
          for (var i = 1; i < tbl.init().columns.length; i++) {
            tbl.column(i).visible(true, true)
          }
          $("input.chkClmn").prop("checked", true)
          tbl.columns.adjust().draw();
        }
      }
      else {
        var column = tbl.column($(this).val());
        // Toggle the visibility
        if ($(this).prop("checked"))
          column.visible(true);
        else {
          column.visible(false);
          $("#chkAll").prop("checked", false)
        }
      }
    })


    $("#chkSelectAll").click(function () {

      if ($("#chkSelectAll").prop('checked'))
        $(".tblchk").prop('checked', true);
      else
        $(".tblchk").prop('checked', false);
    })

    $("#btnRefresh").click(function () {
      tbl.search("").draw();
      for (var i = 1; i < tbl.init().columns.length; i++) {
        tbl.column(i).visible(true, true)
      }
      $("input.chkClmn").prop("checked", true)
      tbl.columns.adjust().draw();
      // tbl.ajax.reload()
    })


    $("#tblEmployee tbody ").on('click', '.list-delete', function () {
      debugger;
      var tr = tbl.row($(this).parents('tr')).data();
      swal({
        title: "Are you sure?",
        // text: "Do you really want to delete this item?",
        icon: "warning",
        buttons: ["Cancel", "Delete"],
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            swal({
              title: "Deleted",
              text: "Employee  has been deleted!",
              icon: "success",
            });
      
            window.location = "http://" + document.location.host + "/employeeDelete/"+tr.IDEmployees;

        //   tbl.ajax.reload();

          } else {
            swal("Employee is not deleted!");
          }
        });
    });

  });


</script>
{{template "footer"}}
{{end}}