{{define "Error"}}
<html lang="en">

<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/static/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <link href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>    
    <div>
       <h5>{{.msg}}</h5>
    </div>   
</body>
<script>
    
</script>


</html>
{{end}}