{{define "Error"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Error</title>
</head>
<body>
    <h1>404</h1>
    <h2>Page not found</h2>
    <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.
    </p>
    <!-- <p>.</p> -->
    <a class="btn btn-info btn-outline-info" href="/">Home</a>
</html>
{{end}}