{{  define "ITAssetEditTmpl"}}
{{template "head" .}}
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h5>Update ITAsset - {{.Data.ITAssetName}}</h5>
                </div>
            </div>
        </div>
        {{if .Auth.ITAssetList}}
        <div class="col-lg-4">
            <a class="add float-right  font-weight-bold btn btn-outline-primary btn-rounded" title="ITAssets List"
                href="/ITAssets"><i class="ik ik-list "></i><span>List</span></a>
        </div>
        {{end}}
    </div>
</div>

<div class="row justify-content-center">

    <form id="frm_ITAsset" method="POST" enctype="multipart/form-data" autocomplete="off">
        <div class="card">
            <div class="card-body ">
                <div class="form-group row">
                    <label for="Name" class="col-sm-3 col-form-label">IT Asset Name:</label>
                    <div class="col-sm-9 ">
                        <input type="text" maxlength="45" required name="ITAssetName" class="form-control "
                            id="ITAssetName" placeholder="ITAsset Name" value="{{.Data.ITAssetName}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ITAssetGroup" class="col-sm-3  col-form-label">Asset Type:</label>
                    <div class="col-sm-9 ">
                        <div class="input-group">
                            <select name="ITAssetGroup" required id="ITAssetGroup" class="form-control">
                                <option value="">--select--</option>
                                {{ range .Data.ITAssetGroupList}}
                                <option value="{{.IDITAssetgroups}}"> {{.ITAssetgroupName}}</option>
                                {{end}}
                            </select>
                            <span class="input-group-append ">
                                <label class="input-group-text bg-info"><a href="#" data-toggle="modal"
                                        data-target="#groupmodal" title="Create">Create</a></label>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="form-group row ">
                    <label for="ITAssetModel" class="col-sm-3 col-form-label ">Model:</label>
                    <div class="col-sm-9">
                        <input type="text" maxlength="45" required  name="ITAssetModel" class="form-control "
                            id="ITAssetModel" placeholder="Model" value="{{.Data.ITAssetModel}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ITAssetSerialNo" class="col-sm-3 col-form-label ">Serial
                        No:</label>
                    <div class="col-sm-9">
                        <input type="text" maxlength="45" required name="ITAssetSerialNo" class="form-control "
                            id="ITAssetSerialNo" placeholder="Serial No." value="{{.Data.ITAssetSerialNo}}">
                    </div>
                </div>
                <!-- <div class="form-group row">
                        <label for="ITAssetIdentificationNo" class="col-sm-3 col-form-label ">Identification
                            No:</label>
                        <div class="col-sm-9 ">
                            <input type="text" name="ITAssetIdentificationNo" class="form-control  mb-1"
                                id="ITAssetIdentificationNo" readonly value="{{.Data.ITAssetIdentificationNo}}">
                        </div>
                    </div> -->
                <div class="form-group row">
                    <label for="ITAssetDescription" class="col-sm-3 col-form-label ">Description:</label>
                    <div class="col-sm-9">
                        <textarea name="ITAssetDescription" maxlength="500"  class="form-control "
                            id="ITAssetDescription"
                            placeholder="ITAsset Description">{{.Data.ITAssetDescription}}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Price:</label>
                    <div class="col-sm-3 ">
                        <div class="input-group">
                            <input type="number" required title="Asset Price" min="0" value="{{.Data.ITAssetPrice}}"
                                name="ITAssetPrice" class="form-control">
                            <span class="input-group-append">
                                <label class="input-group-text"> ₹</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ITAssetWarranty" class="col-sm-3 col-form-label ">Warranty:</label>
                    <div class="col-sm-9 form-inline">
                        <input type="text" name="ITAssetWarranty" class="form-control datetimepicker-input"
                            data-toggle="datetimepicker" autocomplete="off" data-target="#ITAssetWarranty"
                            id="ITAssetWarranty" >
                        <span><text id="txtITAssetWarranty" class=""></text></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Vendor" class="col-sm-3 col-form-label ">Vendor:</label>
                    <div class="col-sm-9 ">
                        <div class="input-group">
                            <select name="Vendor"  id="Vendor" class="form-control">
                                <option value="">--select--</option>
                            </select>
                            <!-- <span class="input-group-append ">
                                <label class="input-group-text bg-info"><a href="#" id="btnVendor" data-toggle="modal"
                                        data-target="#locationmodal" title="Add Vendor">Add</a></label>
                            </span> -->
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Location" class="col-sm-3 col-form-label ">Location:</label>
                    <div class="col-sm-9 ">
                        <div class="input-group">
                            <select name="Location" required id="Location" class="form-control">
                                <option value="">--select--</option>
                            </select>
                            {{if .Auth.Accesstoalllocations}}
                            <!-- <span class="input-group-append ">
                                <label class="input-group-text bg-info"> <a href="#" id="btnlocation"
                                        data-toggle="modal" data-target="#locationmodal"
                                        title="Add Location">Add</a></label>
                            </span> -->
                            {{end}}
                        </div>
                    </div>
                </div> 
                <input type="hidden" name="ITAssetStatus" value="{{.Data.ITAssetStatus}}"  id="ITAssetStatus" >
                <!-- <div class="form-group row">
                    <label for="ITAssetStatus" class="col-sm-3 col-form-label ">Status:</label>
                    <div class="col-sm-9">
                        
                        <select name="ITAssetStatus" required id="ITAssetStatus" class="form-control">
                            <option value="">--select--</option>
                            {{ range .Data.ITAssetStatusList}}
                            <option value="{{.IDStatus}}">{{.StatusName}}</option>
                            {{end}}
                        </select>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label for="ITAssetImg" class="col-sm-3 col-form-label ">Upload Image:</label>
                    <div class="col-sm-5">
                        <input type="file" id="ITAssetImg" name="ITAssetImg" accept="image/x-png,image/gif,image/jpeg"
                            class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled=""
                                placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <input type="hidden" name="ITAssetImg1" value="{{.Data.ITAssetImg}}">
                        <img height="70px" id="viewimg" width="70px"
                            src="/AppFiles/Images/ITAssets/{{.Data.ITAssetImg}}">
                    </div>
                </div>
                <hr />
                <h5>Custom Fields</h5>
                <div class=" row border  m-3" id="custm">
                </div>

                <div class="form-group row justify-content-center">
                    <input type="submit" class="btn btn-primary btn-sm" value="UPDATE" />
                </div>
            </div>
        </div>


    </form>

</div>


<!-- Modal -->
<div class="modal fade" id="groupmodal" tabindex="-1" role="dialog" aria-labelledby="groupmodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="groupmodalTitle">Add  Asset Type</h5>
                <button type="button" id="modalclose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmgroup" autocomplete="off">
                    <input type="hidden" name="CreatedBy" id="CreatedBy" value="{{.User.EmployeeID}}">
                    <div class="form-group row">
                        <label for="ITAssetDescription" class="col-sm-3 col-form-label ">Group
                            Name:</label>
                        <div class="col-sm-9">
                            <input type="text" name="ITAssetgroupName" required class="form-control " id="ITAssetgroupName"
                                placeholder="Asset Type">

                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label for="GroupDesc" class="col-sm-3 col-form-label ">Description:</label>
                        <div class="col-sm-9">
                            <textarea name="GroupDesc" maxlength="500" class="form-control " id="GroupDesc"
                                placeholder="Description"></textarea>

                        </div>
                    </div> -->
                    <div class="form-group row justify-content-center">
                        <input type="submit" class="btn btn-primary btn-sm" value="Create" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- location Modal -->
<div class="modal fade bd-example-modal-lg" id="locationmodal" tabindex="-1" role="dialog"
    aria-labelledby="locationmodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="locationmodalTitle">Add Location</h5>
                <button type="button" id="closeLoatonmodal" class="close" data-dismiss="modal"
                    data-target="#locationmodal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body " id="divLocation">

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#custm").load("/Customfields/{{.Data.IDITAssets}}/ITAsset")
        var data = getdata('/GetLocations')
        loadLocations(data)
        data = getdata('/GetVendors')
        loadVendors(data)
        //events
        $('#ITAssetWarranty').datetimepicker({
            format: customDateFormate 
        });
        $('#ITAssetWarranty').val('{{.Data.ITAssetWarranty.Format "02-01-2006"}}')

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $("#ITAssetWarranty").blur(function () {

            var selected_date = $(this).val()
            var d = new Date(moment(selected_date, "DD-MM-YYYY").format())
            var today = new Date()
            $("#txtITAssetWarranty").text("")
      if ($(this).val() != "")
            if (d < today) {
                $("#txtITAssetWarranty").text("  (Warranty expired)")
                $("#txtITAssetWarranty").removeClass("text-success")
                $("#txtITAssetWarranty").addClass("text-danger")
            }
            else {
                var diff = Math.floor(d.getTime() - today.getTime());
                var day = 1000 * 60 * 60 * 24;
                var days = Math.floor(diff / day);
                var months = Math.floor(days / 31);
                var years = Math.floor(months / 12);
                var message ="  (" +days + " days " + months + " months " + years + " years left)"
                $("#txtITAssetWarranty").text(message)
                $("#txtITAssetWarranty").removeClass("text-danger")
                $("#txtITAssetWarranty").addClass("text-success")
            }

        });


        $("#btnlocation").click(function () {
            $("#locationmodalTitle").html("Add Location")
            $("#divLocation").load("/Location", null, function () {
            });
        })
        $("#btnVendor").click(function () {
            $("#locationmodalTitle").html("Add Vendor")
            $("#divLocation").load("/Vendors", null, function () {
            });
        })
        $("#ITAssetImg").on("change", function () {
            var input = document.getElementById("ITAssetImg")
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#viewimg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }


        })
        //fill data

        if ("{{.Data.Vendor}}") {
            $('#Vendor').val("{{.Data.Vendor}}");
        }
        if ("{{.Data.Location}}") {
            if ("{{.Auth.Accesstoalllocations}}") {
                $('#Location').val("{{.Data.Location}}");
            }
            else {
                $('#Location').val("{{.Data.Location}}");
                $('#Location option:not(:selected)').prop('disabled', true);
            }

        }
        // if ("{{.Data.ITAssetStatus}}") {
        //     $('#ITAssetStatus').val("{{.Data.ITAssetStatus}}");
        // }
        if ("{{.Data.ITAssetGroup}}") {
            $('#ITAssetGroup').val("{{.Data.ITAssetGroup}}");
        }

        $("#frmgroup").submit(function (e) {
            e.preventDefault()
            var fd = new FormData(this);
            $.ajax({
                url: "/ITAssetGroups_Create",
                type: 'POST',
                data: fd,
                // dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#modalclose").click()
                    var data = getdata('/GetITAssetGroups')
                    loadgroups(data)
                }
            });
        })

        $("#frm_ITAsset").on("submit", function (event) {
            event.preventDefault();

            var fd = new FormData(this);
            var cstm = new Object();


            $.each($("#divCustm .count"), function () {

                //$(this).find('input').attr('data-val') //field_name
                var arry = new Array();

                arry.push($(this).find('.cstm').attr('data-FieldName')) //passing ield_name
                arry.push($(this).find('.cstm').attr('data-type')) //passing type


                cstm[$(this).find('.cstm').attr('name')] = arry //passing //field_name

            })

            fd.append('customfields', JSON.stringify(cstm));
            
            $.ajax({
                url: "/ITAssets/edit/{{.Data.IDITAssets}}",
                type: 'POST',
                data: fd,
                // dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    alert('IT Asset updated successfully.')    ;
                    //  $('#frm_ITAsset')[0].reset();       
                    window.location.reload();
                }
            });

        });

    })



    function loadLocations(data) {
        $("#Location").empty().append('<option selected="selected" value="">--select--</option>');
        $.each(data, function (i, el) {
            $("#Location").append($("<option />", { text: el.Name + "\n" + el.Address1 + "\n" + el.Address2 + "\n" + el.Countryname + "\n" + el.Statename + "\n" + el.Zipcode, value: el.IDLocations }));
        });


    }


    function loadgroups(data) {
        $("#ITAssetGroup").empty().append('<option >--select--</option>');
        $.each(data, function (i, el) {
            $("#ITAssetGroup").append($("<option />", { text: el.ITAssetgroupName, value: el.IDITAssetgroups }));
        });
    }
    function loadVendors(data) {
        $("#Vendor").empty().append('<option selected="selected" value="">--select--</option>');
        $.each(data, function (i, el) {
            $("#Vendor").append($("<option />", { text: el.Name + "\n" + el.Address + "\n" + el.Email + "\n" + el.ContactPersonName + "\n" + el.Phone + "\n", value: el.Idvendors }));
        });

    }

</script>
{{template "footer"}}
{{end}}