{{  define "LocationsDetails"}}
{{template "head" .}}
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h5>Location Details</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a class="Locadd float-right  font-weight-bold btn btn-outline-primary btn-rounded" title="Create Location"
                href="#"><i class="ik ik-plus "></i><span>ADD</span></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="dt-responsive">
               
                    <table id="tblLocations" class="table table-striped table-bordered " width="100%">
                        <thead>
                            <th>IDLocations</th>
                            <th>Action</th>
                            <th>Name</th>
                            <th>Address 1</th>
                            <th>Address 2</th>
                            <th>City</th>
                            <th>Zipcode</th>
                            <th>Statename</th>
                            <th>Countryname</th>
                            <th>Description</th>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="tblbtn" class="btn-group dropright float-left ">
            <button type="button" class="btn btn-info dropdown-toggle btn-sm " data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Export </button>
            <div id="tblbtnList" class="dropdown-menu">
            </div>
        </div>
        <div id="tblClmnbtn" class="btn-group dropright float-left mr-1 ">
            <button type="button" class="btn btn-info dropdown-toggle btn-sm " data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Fields </button>
            <div id="tblClmnbtnList" class="dropdown-menu">
                <div class="form-check form-check-inline dropdown-item">
                    <input class="form-check-input chkClmn" type="checkbox" checked id="chkAll">
                    <label class="form-check-label " for="chkAll">(Select All)</label></div>

                <div class="dropdown-divider"></div>
            </div>
        </div>
    </div>
</div>




<!-- view -->


<div class="modal fade bd-example-modal-lg LocationEdit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">
                    Edit location</h5>
                <button type="button" id="closeLoatonmodal" class="close" data-dismiss="modal"
                    data-target="#locationmodal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body LocationBody">
            </div>

        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var tbl = $('#tblLocations').DataTable({
            responsive: true,
            "processing": true,
            scrollY: $(window).height() - 350,
            scrollCollapse: true,
            scrollX: true,
            destroy: true,
            dom: 'Bfrtip',
            ajax: {
                "url": '/GetLocations',
                "type": "GET",
                "datatype": "json",
                "dataSrc": ""//to read data from a plain array rather than an array in an object:
            },
            columnDefs: [
                { orderable: false, targets: 1 },
                { visible: false, targets: 0 }
            ],
            "order": [
                [0, 'desc']
            ],
            // destroy: true,//to over come reintilize prblms
            "columns": [
                {
                    "name": "IDLocations",
                    'data': 'IDLocations'
                },
                {
                    "name": "Select",
                    'data': null,
                    render: function (dt) {
                        var res = "<button  title='Edit Location'  data-value='" + dt.IDLocations + "'  class=' LocEdit btn btn-link text-warning '><i class='ik ik-edit btn-xs '></i></button>"
                      //  res += "<button  title='Delete Vendor'  data-value='" + dt.IDLocations + "'  class='VendDelete btn btn-link text-warning '><i class='ik ik-delete btn-xs '></i></button>";
                        return res;
                    }
                }, {
                    "name": "Name",
                    'data': "Name"
                   

                }, {
                    "name": "Address1",
                    'data': 'Address1'
                }, {
                    "name": "Address2",
                    "data": "Address2"
                }, {
                    "name": "City",
                    'data': 'City'
                }, {
                    "name": "Zipcode",
                    "data": "Zipcode"
                }, {
                    "name": "Statename",
                    "data": "Statename"
                }, {
                    "name": "Countryname",
                    "data": "Countryname"
                }, {
                    "name": "Description",
                    'data': 'Description'
                }

            ]
            ,

            buttons: [

                {
                    text: 'Print',
                    extend: "print",
                    title: "Location Details",
                    className: ' dropdown-item',
                    exportOptions: {
                        columns: ':visible'
                        // columns: ':not(.notexport)'
                    }
                },
                {
                    text: 'Excel',
                    extend: "excel",
                    className: ' dropdown-item',
                    title: "Location Details",
                    exportOptions: {
                        columns: ':visible'
                        // columns: ':not(.notexport)'
                    }
                }
            ]
        });
        $("#tblbtn").prependTo('#tblLocations_filter')
        tbl.buttons().containers().prependTo('#tblbtnList')
        $('.dt-button').removeClass('dt-button').addClass(' btn btn-light btn-sm ');
        $(".buttons-colvis").removeClass('btn-light').addClass('btn-info float-left ml-1').appendTo('#tblLocations_filter')
        $("#tblClmnbtn").prependTo('#tblLocations_filter')
     
        var idx = 0;
        //show hide clmns
        tbl.columns().every(function () {
            if (idx != 0 && idx != 1) {
                var html = '<div class="form-check form-check-inline dropdown-item">'
                html += '<input class="form-check-input chkClmn" type="checkbox" checked id="chk' + idx + '" value="' + idx + '">'
                html += '<label class="form-check-label " for="chk' + idx + '">' + this.header().innerHTML + '</label></div>'
                $("#tblClmnbtnList").append(html)
            }
            idx++;

        });

        $("input.chkClmn").click(function (e) {

            // Get the column API object
            if ($(this).attr('id') == "chkAll") {
                if ($(this).prop("checked")) {
                    for (var i = 1; i < tbl.init().columns.length; i++) {
                        tbl.column(i).visible(true, true)
                    }
                    $("input.chkClmn").prop("checked", true)
                    tbl.columns.adjust().draw();
                }
            }
            else {
                var column = tbl.column($(this).val());
                // Toggle the visibility
                if ($(this).prop("checked"))
                    column.visible(true);
                else {
                    column.visible(false);
                    $("#chkAll").prop("checked", false)
                }
            }
        })


        $('.LocationEdit').on('hidden.bs.modal', function () {
            tbl.ajax.reload();
        })


    });




    $(document).ready(function () {
        $("#tblLocations").on("click", ".LocEdit", function () {
           
            $(".LocationEdit").modal("show")
            $(".modal-title").text("Edit Location")
            var id = $(this).attr("data-value")
            $(".LocationBody").load("/Location?mode=edit&&id=" + id, null, function () {
            });
        });
        $(".Locadd").on("click", function () { 
            $(".LocationEdit").modal("show")
            $(".modal-title").text("Add Location")
            $(".LocationBody").load("/Location", null, function () {
            });
        });


    });
</script>
{{template "footer"}}
{{end}}