{{  define "NonITAsset_Create"}}
{{template "head" .}}
<div class="page-header">
  <div class="row align-items-end">
    <div class="col-lg-8 col-md-8 col-sm-8  col-xs-8">
      <div class="page-header-title">
        <div class="d-inline">
          <h5>Add Non-ITAssets</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <a class="add float-right  font-weight-bold btn btn-outline-primary btn-rounded" title="NonITAsset List"
        href="/NonITAsset/List"><i class="ik ik-list "></i><span>List</span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-md-10">
    <form method="POST" id="frm_NonITAsset" action="/NonITAsset/create" enctype="multipart/form-data" autocomplete="off">
      <div class="card">
        <div class="card-body ">
          <div class="form-group row">
            <label for="IDNonITAssets_Master" class="col-sm-3 col-form-label">Asset Name:</label>
            <div class="col-sm-5">
              <select class="form-control" required name="IDNonITAssets_Master" data-size="5"
                id="IDNonITAssets_Master" tabindex="-98">
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="NonITAssets_GroupID" class="col-sm-3  col-form-label">Asset Type:</label>
            <div class="col-sm-5">
              <input type="text" readonly name="NonITAssets_GroupID" id="NonITAssets_GroupID"
                class="form-control">
            </div>
          </div>
          <div class="form-group row ">
            <label for="ModelNo" class="col-sm-3 col-form-label ">Model No:</label>
            <div class="col-sm-9">
              <input type="text" required name="ModelNo" maxlength="45" class="form-control  w-auto" id="ModelNo"
                placeholder="Model No">
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="IdentificationNo" class="col-sm-3 col-form-label ">Identification
              No:</label>
            <div class="col-sm-9 ">
              <input type="text" readonly name="IdentificationNo" class="form-control  w-auto " id="IdentificationNo"
                placeholder="Identification No">
            </div>
          </div> -->

          <div class="form-group row">
            <label for="Description" class="col-sm-3 col-form-label ">Description:</label>
            <div class="col-sm-9">
              <textarea name="Description" maxlength="500" required placeholder="Description" title="Description"
                class="form-control  w-auto " id="Description"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="Warranty" class="col-sm-3 col-form-label ">Warranty:</label>
            <div class="col-sm-9 form-inline">
              <input type="text" name="Warranty" class="form-control datetimepicker-input" data-toggle="datetimepicker"
                autocomplete="off" data-target="#Warranty" id="Warranty" >
              <span><text id="txtWarranty" class=""></text></span>
            </div>
          </div>
          <div class="form-group row">
            <label for="Img" class="col-sm-3 col-form-label ">Upload Image:</label>
            <div class="col-sm-9">
              <input type="file" id="Img" name="Img" accept="image/x-png,image/gif,image/jpeg"
                class="file-upload-default ">
              <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info " disabled="" placeholder="Upload Image">
                <span class="input-group-append">
                  <button class="file-upload-browse btn btn-info" type="button">Upload</button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group  row">
            <label class="col-sm-3 col-form-label">Threshold Quantity:</label>
            <div class="col-sm-3 ">
              <div class="input-group">
                <input type="number" required id="ThresholdQnty" title="Minimum quantity to get alert" min="1"
                  name="ThresholdQnty" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Reorder Stock Quantity:</label>
            <div class="col-sm-3 ">
              <div class="input-group">
                <input type="number" required id="ReOrderQuantity" min="1" name="ReOrderQuantity" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">ReOrder Stock Price:</label>
            <div class="col-sm-3 ">
              <div class="input-group">
                <input type="number" required id="ReOrderStockPrice" title="ReOrder Stock Price" min="1"
                  name="ReOrderStockPrice" class="form-control">
                <span class="input-group-append">
                  <label class="input-group-text"> ₹</label>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="VendorID" class="col-sm-3 col-form-label ">Vendor:</label>
            <div class="col-sm-9 ">
              <div class="input-group">
                <select name="VendorID" id="VendorID" class="form-control ">
                </select>
                <!-- <span class="input-group-append ">
                  <label class="input-group-text bg-info"><a href="#" id="btnVendor" data-toggle="modal"
                      data-target="#divmodal" title="Add Vendor">Add</a></label>
                </span> -->
              </div>
            </div>
          </div>

          <div class="orm-group row">
            <label class="col-sm-3 col-form-label">Add Stock Quantity:</label>
            <div class="col-sm-3 ">
              <div class="input-group">
                <input type="number" min="0" id="Quantity" title="Add Stock Quantity" name="Quantity"
                  class="form-control  w-auto">
              </div>
            </div>
          </div>
          <div class=" orm-group row">
            <label class="col-sm-3 col-form-label">Price / Unit:</label>
            <div class="col-sm-3 ">
              <div class="input-group">
                <input type="number" id="UnitPrice" title="Asset Price" min="0" name="UnitPrice" class="form-control">
                <span class="input-group-append">
                  <label class="input-group-text"> ₹</label>
                </span>
              </div>
            </div>
          </div>





          <div class="form-group row">
            <label for="LocationID" class="col-sm-3 col-form-label ">Location:</label>
            <div class="col-sm-9 ">
              <div class="input-group ">
                <select name="LocationID" required id="LocationID" class="form-control">
                </select>
                {{if .Auth.Accesstoalllocations}}
                <!-- <span class="input-group-append ">
                  <label class="input-group-text bg-info"> <a href="#" id="btnlocation" data-toggle="modal"
                      data-target="#divmodal" title="Add Location">Add</a></label>
                </span> -->
                {{end}}
              </div>
            </div>
          </div>
          <hr />
          <h6>Custom Fields</h6>
          <div class=" row w-70 " id="custm">
          </div>
          <div class="form-group row justify-content-center">
            <input type="submit" class="btn btn-primary btn-sm" value="Create NonITAssets" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="col-lg-2 col-md-2 ">
    <div class="btn-group  btn-group-vertical  ">
      <button data-toggle="modal" data-target="#locationmodal" id="ReadExcel" class="btn btn-info btn-sm">Upload
        Excel</button>
    </div>
  </div> -->

</div>

<div class="modal fade bd-example-modal-lg" id="divmodal" tabindex="-1" role="dialog"
  aria-labelledby="locationmodalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="divmodalTitle"></h5>
        <button type="button" id="divclosemodal" class="close" data-dismiss="modal" data-target="#divmodal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body " id="divmodalBody">

      </div>
    </div>
  </div>
</div>





<script>
  $(document).ready(function () {
    $('#Warranty').datetimepicker({
      format: customDateFormate,
      useCurrent:false
    });
    // var id = getdata("/GenerateUniqueID/nonitassets")
    // $("#IdentificationNo").val(id)

    function loadLocations(data) {
      $("#LocationID").empty().append('<option  value="">--select--</option>');
      $.each(data, function (i, el) {
        $("#LocationID").append($("<option />", { text: el.Name + "\n" + el.Address1 + "\n" + el.Address2 + "\n" + el.Countryname + "\n" + el.Statename + "\n" + el.Zipcode, value: el.IDLocations }));
      });
    }
    function loadVendors(data) {
      $("#VendorID").empty().append('<option  value="">--select--</option>');
      $.each(data, function (i, el) {
        $("#VendorID").append($("<option />", { text: el.Name + "\n" + el.Address + "\n" + el.Email + "\n" + el.ContactPersonName + "\n" + el.Phone + "\n", value: el.Idvendors }));
      });
    }
    function GetNonITAssetMasterList(data) {
      $("#IDNonITAssets_Master").empty().append('<option value="">--select--</option>');
      $.each(data, function (i, el) {
        $("#IDNonITAssets_Master").append($("<option />", { text: el.NonITAssets_Name, value: el.IDNonITAssets_Master, 'data-subtext': el.Description, 'data-groupid': el.NonITAssets_Groups.NonITAssets_GroupName, 'data-tokens': el.NonITAssets_Groups.NonITAssets_GroupName + " " + el.NonITAssets_Name }));
      });
    }


    var data = getdata('/GetLocations')
    loadLocations(data)
    data = getdata('/GetVendors')
    loadVendors(data)
    var data = getdata('/GetNonITAssetMasterList')
    GetNonITAssetMasterList(data)

    $("#custm").load("/Customfields/0/NonITAsset")
    // $("#GroupID").val("")

  });



  $(document).ready(function () {

    $("#IDNonITAssets_Master").change(function () {
      var id = $('#IDNonITAssets_Master option:selected').attr('data-groupid')
      $("#NonITAssets_GroupID").val(id)
    })
    $("#Warranty").blur(function () {

      var selected_date = $(this).val()
      var d = new Date(moment(selected_date, "DD-MM-YYYY").format())
      var today = new Date()
      if (d < today) {
        $("#txtWarranty").text("  (Warranty expired)")
        $("#txtWarranty").removeClass("text-success")
        $("#txtWarranty").addClass("text-danger")
      }
      else {

        var diff = Math.floor(d.getTime() - today.getTime());
        var day = 1000 * 60 * 60 * 24;
        var days = Math.floor(diff / day);
        var months = Math.floor(days / 31);
        var years = Math.floor(months / 12);
        var message = "  ("+days + " days " + months + " months " + years + " years left)"
        $("#txtWarranty").text(message)
        $("#txtWarranty").removeClass("text-danger")
        $("#txtWarranty").addClass("text-success")
      }

    });

    $("#btnlocation").click(function () {
      $("#divmodalTitle").html("Add Location")
      $("#divmodalBody").load("/Location", null, function () {
      });
    })
    $("#btnVendor").click(function () {

      $("#divmodalTitle").html("Add Vendor")
      $("#divmodalBody").load("/Vendors", null, function () {
      });
    })

    // $("#ReadExcel").click(function () {

    //   $("#divmodalTitle").html("Upload Excel Sheet")
    //   $("#divmodalBody").load("/ITAssets/ReadExcel", null, function () {
    //   });


    // })

    $("#frm_NonITAsset").on("submit", function (event) {
      event.preventDefault();

      var fd = new FormData(this);
      var cstm = new Object();


      $.each($("#divCustm .count"), function () {

        //$(this).find('input').attr('data-val') //field_name
        var arry = new Array();

        arry.push($(this).find('.cstm').attr('data-FieldName')) //passing ield_name
        arry.push($(this).find('.cstm').attr('data-type')) //passing type


        cstm[$(this).find('.cstm').attr('name')] = arry //passing //field_name

      })

      fd.append('customfields', JSON.stringify(cstm));
      if ($("#VendorID").val() != "" || $("#Quantity").val() > 1 || $("#UnitPrice").val() > 1) {
        if ($("#VendorID").val() == "") {
          Toast('warning', 'Select Vendor details')
          return false;
        }
        if ($("#Quantity").val() < 1) {
          Toast('warning', 'Enter Quantity')
          return false;
        }
        if ($("#UnitPrice").val() < 1) {
          Toast('warning', 'Enter Unit Price')
          return false;
        }
      }

      $.ajax({
        url: "/NonITAsset/Create",
        type: 'POST',
        data: fd,
        // dataType: 'json',
        contentType: false,
        processData: false,
        success: function (data) {
          alert('Asset added successfully.')
          window.location.reload();

        }, error: function () {
          alert('Internal error')
        }
      });

    });


    if ("{{.Auth.Accesstoalllocations}}") {

    }
    else {
      $("#LocationID").val($("#locationid").val())
      $('#LocationID option:not(:selected)').prop('disabled', true);
    }



    $("#IDNonITAssets_Master").change(function () {
          
            if ($(this).val() != "") {
                var id = parseInt($(this).val())
                var loc = parseInt($("#locationid").val())
                var data = getdata('/CheckDuplicateNonITAssetEntry/' + id + '/' + loc)
                if (data == $(this).val()) {
                    Toast('warning', 'Record alredy existed with the seleceted Asset.')
                    $(this).val("")
                    $("#GroupID").val("")
                    return
                }
                // var gid = $('#ConsumableNames option:selected').attr('data-groupid')
                // $("#GroupID").val(gid)
                // data = getdata('/GetVendorsByConsumable/' + $(this).val())
                // loadVendors(data)
            } else {
                $("#GroupID").val("")
            }
        })
       
  });

</script>
{{template "footer"}}
{{end}}