{{  define "NonITAssetRequestList"}}
{{template "head" .}}
<div class="page-header">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <div class="d-inline">
          <h5>NonITAsset Request Details</h5>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4">
      <a class="add float-right  font-weight-bold btn btn-outline-primary btn-rounded" title="ITAssets Request List"
        href="/ITAssets/Request"><i class="ik ik-menu "></i><span>Request</span></a>
    </div> -->
  </div>
</div>
<div class="divReqList">
  <!-- <input type="hidden" name="ApproverID" id="ApproverID"> -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block ">

          <div class="dt-responsive ">
            <table id="tblITAssetsReq" class="table table-striped table-bordered  " width="100%">
              <thead>
                <th>ID</th>
                <th>Actions</th>
                <th>Requested By</th>
                <th>Requested On</th>

                <th>Asset Type(s)</th>
                <th>Status</th>
                <th>Priority</th>
              </thead>
            </table>
          </div>

          <div id="tblbtn" class="btn-group dropright float-left ">
            <button type="button" class="btn btn-info dropdown-toggle btn-sm " data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Export </button>
            <div id="tblbtnList" class="dropdown-menu">
            </div>
          </div>
          <div id="tblClmnbtn" class="btn-group dropright float-left mr-1 ">
            <button type="button" class="btn btn-info dropdown-toggle btn-sm " data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Fields </button>
            <div id="tblClmnbtnList" class="dropdown-menu">
              <div class="form-check form-check-inline dropdown-item">
                <input class="form-check-input chkClmn" type="checkbox" checked id="chkAll">
                <label class="form-check-label " for="chkAll">(Select All)</label></div>
<!-- 
              <div class="dropdown-divider "></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divReqApprove">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class=" d-flex float-right">
            <a href="#" id="back" class=" align-self-center btn btn-outline-danger"><i
                class="fas fa-arrow-left "></i></a>
            &nbsp; &nbsp;&nbsp; &nbsp;
          </div>

          <div class="form-group row">
            <h6>Requested Assets:</h6>
          </div>

          <div class="dt-responsive ">
            <table id="tblReqApprvList" class="table  table-hover table-striped table-bordered  ">
              <thead>
                <th>Select</th>
                <th>Asset Type</th>
                <th>Description</th>
                <th>Assigned Quantity</th>
                <th>Assigned Asset</th>
              </thead>
            </table>
          </div>

          <hr />
          <div class="form-group row">
            <h6>Available Assets:</h6>
          </div>
          <div class="dt-responsive ">
            <table class="table table-striped table-bordered table-hover nowrap" id="tblITAssets">
              <thead>
                <th>Select</th>
                <th>Asset Name</th>
                <th>Asset Type</th>
                <th>Model No.</th>
                <th>Identification No</th>
                <th>Description</th>
                <th>Total Quantity</th>
                <th>Available Quantity</th>
                <th>In Use</th>
                <th>Threshold Qnty</th>

              </thead>
            </table>
          </div>

          <div class="form-group row">
            <label for="ApproverComments" class="col-md-3 col-form-label ">Comments:</label>
            <div class="col-md-5  ">
              <textarea name="ApproverComments" class="form-control " id="ApproverComments"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="ApprvDate" class="col-md-3 col-form-label ">Date:</label>
            <div class="col-md-5  ">
              <input type="date" class="form-control " readonly name="Approveddate" id="ApprvDate">
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <input type="button" id="btnReqApprove" class="btn btn-primary btn-sm" value="Approve" /> &nbsp; &nbsp;
            <input type="button" id="btnReqReject" class="btn btn-sm btn-danger" value="Reject" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade edit-layout-modal" id="editLayoutItem" tabindex="-1" role="dialog"
  aria-labelledby="editLayoutItemLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLayoutItemLabel">Approval flow</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <input id="NonITAssetReqGroupID" type="hidden">
        <!-- lettest acivity and statustic card start -->
        <div class="col-md-12">
          <div class="card latest-update-card">
            <div class="card-block">
              <div class="scroll-widget">
                <div class="latest-update-box divflow">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divFlowFrwrd">
          <div class="form-group row">
            <label for="Comments" class="col-sm-3 col-form-label ">Comments:</label>
            <div class="col-sm-9">
              <textarea name="Comments" maxlength="500" placeholder="Comments" title="Comments" class="form-control "
                id="Comments"></textarea>
            </div>
          </div>
          <div class="form-group  row">
            <label for="ITAssetGroup" class="col-sm-3  col-form-label">Forward To:</label>
            <div class="col-sm-9 ">
              <div class="input-group">
                <select name="Approver" id="Approver" class="form-control">

                </select>

              </div>
            </div>
          </div>
        </div>
        <div class="divFlowFrwrdBtns">
          <div class="form-group row justify-content-center">
            <input type="button" id="FlowApprove" class="btn btn-primary btn-sm" value="Approve & Forward" /> &nbsp;
            &nbsp;
            <input type="button" id="FlowReject" class="btn btn-sm btn-danger" value="Reject" />
            &nbsp;
            <input type="button" class="btn btn-sm btn-info btnApproveReject" value="Assign/Reject" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<script>
  $(document).ready(function () {

    var tbl = $('#tblITAssetsReq').DataTable({
      responsive: true,
      "processing": true,
      scrollCollapse: true,
      scrollY: $(window).height() - 350,
      scrollX: true,
      destroy: true,
      dom: 'Bfrtip',
      ajax: {
        "url": '/GetNonITAssetReqList/{{.User.EmployeeID}}',
        "type": "GET",
        "datatype": "json",
        "dataSrc": ""//to read data from a plain array rather than an array in an object:
      },
      columnDefs: [
        { visible: false, targets: 0 },
        { orderable: false, targets: 1 }
      ],
      "order": [
        [0, 'desc']
      ],
      // destroy: true,//to over come reintilize prblms
      "columns": [
        {
          "name": "ReqGroupID",
          'data': 'NonITAssetRequest.ReqGroupID'
        },
        {
          "name": "Actions",
          'data': null,
          render: function (dt) {
            return '<a href="#" class="btn btn-sm btnApprovalflow font-weight-bold text-info" title="Approve/Reject">Approve/Reject</a>';

          }
        }, {
          "name": "FirstName",
          'data': 'Requester.FirstName'
        }, {
          "name": "RequestedOn",
          'data': "NonITAssetRequest",
          render: function (dt) {
            return jsondate(dt.RequestedOn);
          }
        }, {
          "name": "AssetType",
          "data": "NonITAssetRequest.AssetType"
        }, {
          "name": "ReqStatus",
          'data': "NonITAssetRequest.ReqStatus",
          render: function (dt) {
            var res;
            if (dt == "Requested")
              res = '<span class="badge badge-pill badge-warning">' + dt + '</span>'
            else if (dt == "Rejected")
              res = '<span class="badge badge-pill badge-danger">' + dt + '</span>'
            else if (dt == "Approved")
              res = '<span class="badge badge-pill badge-success">' + dt + '</span>'
            return res;
          }
        }, {
          "name": "Priority",
          'data': "NonITAssetRequest.Priority",
          render: function (dt) {
            var res;
            if (dt == "Medium")
              res = '<span class="badge badge-pill badge-warning">' + dt + '</span>'
            else if (dt == "High")
              res = '<span class="badge badge-pill badge-danger">' + dt + '</span>'
            else if (dt == "Low")
              res = '<span class="badge badge-pill badge-info">' + dt + '</span>'
            return res;
          }
        }
      ],
      buttons: [
        {
          text: 'Excel',
          extend: "excel",
          className: ' dropdown-item',
          title: "NonITAsset Details",
          exportOptions: {
            columns: ':visible'
            // columns: ':not(.notexport)'
          }
        }
      ]
    });
    $("#tblbtn").prependTo('#tblITAssetsReq_filter')
    tbl.buttons().containers().prependTo('#tblbtnList')
    $('.dt-button').removeClass('dt-button').addClass(' btn btn-light btn-sm ');
    $(".buttons-colvis").removeClass('btn-light').addClass('btn-info float-left ml-1').appendTo('#tblITAssetsReq_filter')
    //columns hide /show
    $("#tblClmnbtn").prependTo('#tblITAssetsReq_filter')
    var idx = 0;
    //show hide clmns
    tbl.columns().every(function () {
      if (idx != 0 && idx != 1) {
        var html = '<div class="form-check form-check-inline dropdown-item">'
        html += '<input class="form-check-input chkClmn" type="checkbox" checked id="chk' + idx + '" value="' + idx + '">'
        html += '<label class="form-check-label " for="chk' + idx + '">' + this.header().innerHTML + '</label></div>'
        $("#tblClmnbtnList").append(html)
      }
      idx++;

    });

    $("input.chkClmn").click(function (e) {
      // Get the column API object
      if ($(this).attr('id') == "chkAll") {
        if ($(this).prop("checked")) {
          for (var i = 1; i < tbl.init().columns.length; i++) {
            tbl.column(i).visible(true, true)
          }
          $("input.chkClmn").prop("checked", true)
          tbl.columns.adjust().draw();
        }
      }
      else {
        var column = tbl.column($(this).val());
        // Toggle the visibility
        if ($(this).prop("checked"))
          column.visible(true);
        else {
          column.visible(false);
          $("#chkAll").prop("checked", false)
        }
      }

    })

    $("#chkSelectAll").click(function () {
      if ($("#chkSelectAll").prop('checked'))
        $(".tblchk").prop('checked', true);
      else
        $(".tblchk").prop('checked', false);
    })

    $(".divReqApprove").hide();

    $(".btnApproveReject").click(function () {

      // var data = tbl.row($(this).parents('tr')).data();
      // FillReqApprove(data.ITAssetRequest.ReqGroupID)
      FillReqApprove($("#NonITAssetReqGroupID").val())
      $('.divReqList, .divReqApprove').toggle(200);
      $("#editLayoutItem .close").click()
    });

    $("#back").click(function () {
      $('.divReqList, .divReqApprove').toggle(200);
    });

    function FillReqApprove(ReqGroupID) {
      var url;
      if ("{{.Auth.Accesstoalllocations}}")
        url = '/GetNonITAssetLists/0'
      else
        url = '/GetNonITAssetLists/' + $("#locationid").val()
      var ITAssetstbl = $('#tblITAssets').DataTable({
        responsive: true,
        "processing": true,
        scrollCollapse: true,
        //scrollY: "300px",
        scrollX: true,

        destroy: true,
        dom: 'frtip',
        ajax: {
          "url": url,
          "type": "GET",
          "datatype": "json",
          "dataSrc": ""//to read data from a plain array rather than an array in an object:
        },
        columnDefs: [{
          orderable: false,
          targets: 0
        }],
        order: [[1, 'asc']],
        // destroy: true,//to over come reintilize prblms
        "columns": [
          {
            "name": "Select",
            'data': null,
            render: function (dt) {
              return '<input  type="button" data-Assetname=' + dt.NonITAssets_Master.NonITAssets_Name + ' data-AssetID=' + dt.IDNonITAsset + ' class="btn btn-sm btn-warning Assign" value="Assign" />';
            }
          }, {
            "name": "NonITAssets_Master",
            'data': 'NonITAssets_Master.NonITAssets_Name'
          }, {
            "name": "NonITAssets_GroupName",
            'data': 'NonITAssets_Groups.NonITAssets_GroupName'
          }, {
            "name": "ModelNo",
            "data": "ModelNo"
          }, {
            "name": "IdentificationNo",
            "data": "IdentificationNo"
          }, {
            "name": "Description",
            'data': 'Description'
          }, {
            "name": "TotalQnty",
            "data": "TotalQnty"
          }, {
            "name": "AvailableQnty",
            'data': 'AvailableQnty'
          },
          {
            "name": "InUseQnty",
            'data': 'InUseQnty'
          },
          {
            "name": "ThresholdQnty",
            'data': 'ThresholdQnty'
          }
        ]
      });

      var data = getdata("/NonITAssetReqListByReqGroup/" + ReqGroupID + "/" + $('#employeeid').val())

      var tblReqApprvList = $("#tblReqApprvList").DataTable({
        dom: '',
        data: data,
        responsive: true,
        "processing": true,
        destroy: true,
        "columns": [
          {
            "name": "IDNonITAssetrequest",
            'data': "NonITAssetRequest",
            render: function (dt) {
              return '<input type="checkbox" data-val=' + dt.AssetType + ' data-AssetID="" value=' + dt.IDNonITAssetrequest + '>';
            }
          }, {
            "name": "AssetType",
            'data': 'NonITAssetRequest.AssetType'
          }, {
            "name": "Description",
            'data': 'NonITAssetRequest.Description'
          }, {
            "name": "Assigned Quantity",
            'data': null,
            render: function (dt) {
              return '<input type="number" class="AssignedQnty"  min="0" />';
            }
          }, {
            "name": "ApprovedAsset",
            'data': null,
            render: function (dt) {
              return '';
            }
          }]
      })


      //filter  asset table based on type checked
      $('#tblReqApprvList').on("click", "input:checkbox", function () {
        //to allow only one check box checked
        if ($(this).parents("#tblReqApprvList").length > 0) {
          // $('input:checkbox').not(this).prop('checked', false);
          if ($(this).prop('checked')) {
            ITAssetstbl.column(2)
              .search($(this).parents('tr').find("td")[1].innerText)
              .draw();
          }
          else {
            ITAssetstbl.column(2)
              .search("")
              .draw();
          }

        }



      });
    }
    $("#tblITAssets").on("click", ".Assign", function () {
      var Chkd = $('#tblReqApprvList input:checkbox:checked').length
      if (Chkd > 1) {
        alert('Please select only one record')
        return
      }
      if (Chkd == 1) {
        $('#tblReqApprvList input:checkbox:checked').parents('tr').find('td:last').text($(this).attr('data-Assetname'));
        $('#tblReqApprvList input:checkbox:checked').attr('data-AssetID', $(this).attr('data-AssetID'))
        $('#tblReqApprvList input:checkbox:checked').prop('checked', false);
        $(this).removeClass('btn-warning').addClass('btn-danger')
        $(this).removeClass('Assign').addClass('Remove')
        $(this).val("Remove")
        $(this).blur()
      }
      else {
        alert('Please select Requested NonITAsset')
      }
    })
    $("#tblITAssets").on("click", ".Remove", function () {
      $(this).removeClass('btn-danger').addClass(' btn-warning')
      $(this).removeClass('Remove').addClass('Assign')
      $(this).val("Assign")
      $(this).blur()
      $('#tblReqApprvList input:checkbox[data-AssetID=' + $(this).attr("data-AssetID") + ']').parents('tr').find('td:last').text("");
      $('#tblReqApprvList input:checkbox[data-AssetID=' + $(this).attr("data-AssetID") + ']').attr('data-AssetID', "")


    });

    var NextRoleID;
    var NextGrade;
    var ReqGroupID;
    var IDNonitasset_Req_approvals;
    $("#btnReqApprove").click(function () {
      if ($('#ApproverComments').val() == "") {
        Toast('warning', "Please enter comments.")
        $('#ApproverComments').focus();
        return;
      }
      var ListData = new Array();
      var ApproverComments = $("#ApproverComments").val()
      $('#tblReqApprvList tbody tr').each(function (ind, val) {
        
        var chk = $(this).find("input:checkbox")
        var AssignedQnty = $(this).find(".AssignedQnty").val()

        var data = new Object()
        var aprvl = new Object()
        if (chk.attr('data-AssetID') != "") {
          if (AssignedQnty == "" || AssignedQnty == 0) {
            alert("Please enter Quantity to be assigned")
            AssignedQnty.focus();
            return false;
          }
          data.AssetID = parseInt(chk.attr('data-AssetID'))
          data.AssignedQnty = parseInt(AssignedQnty)
          data.IDNonITAssetrequest = parseInt(chk.val())
          data.CreatedBy = parseInt($("#employeeid").val())

          aprvl.Comments = ApproverComments
          aprvl.Status = "Approved"
          aprvl.IDNonitasset_Req_approvals = parseInt(IDNonitasset_Req_approvals)
          data.NonITAssetRequestApproval = aprvl
          ListData.push(data)
        }
      })
      if (ListData.length == 0) {
        alert('Please assign respected NonITAsset as per the request.')
        return
      }
      
      $.ajax({
        url: "/NonITAssetReqApprove",
        type: 'POST',
        data: JSON.stringify(ListData),
        dataType: 'json',

        success: function (data) {
          location.reload()
        }, error: function () {
          alert('Internal error')
        }
      });
    })
    $("#btnReqReject").click(function () {
      // var ListData = new Array();
      var aprvl = new Object()
      var ApproverComments = $("#ApproverComments").val()
      if ($('#ApproverComments').val() == "") {
        Toast('warning', "Please enter comments.")
        $('#ApproverComments').focus();
        return;
      }
      aprvl.Comments = ApproverComments
      aprvl.IDNonitasset_Req_approvals = parseInt(IDNonitasset_Req_approvals)
      aprvl.NonITAssetReqGroupID = parseInt(NonITAssetReqGroupID)
      // if ($('#tblReqApprvList input:checkbox:checked').length == 0) {
      //   alert("Please select the record to Reject.")
      //   return;
      // }
      // $('#tblReqApprvList input:checkbox:checked').each(function (ind, val) {
      //   var data = new Object()
      //   data.ApproverComments = ApproverComments
      //   data.IDNonITAssetrequest = parseInt($(this).val())
      //   ListData.push(data)
      // })

      $.ajax({
        url: "/NonITAssetReqReject",
        type: 'POST',
        data: JSON.stringify(aprvl),
        // dataType: 'json'
        success: function (data) {
          location.reload()
        }
      });
    });

    document.getElementById('ApprvDate').valueAsDate = new Date();



    $("#tblITAssetsReq").on("click", ".btnApprovalflow", function () {
      $("#editLayoutItem").modal('show')
      var rowdata = tbl.row($(this).parents('tr')).data()
      var divflow = $(".divflow")
      divflow.empty();

      if (rowdata.NonITAssetRequest.NonITAssetRequestApproval.Status == "Requested") {
        if (rowdata.NonITAssetRequest.NonITAssetRequestApproval.Grade == 1) {
          $("#FlowApprove").hide()
          $("#FlowReject").hide()
          $(".btnApproveReject").show()
          $(".divFlowFrwrd").hide()
        } else {
          $("#FlowApprove").show()
          $("#FlowReject").show()
          $(".btnApproveReject").hide()
          $(".divFlowFrwrd").show()
        }
      } else {
        $("#FlowApprove").hide()
        $("#FlowReject").hide()
        $(".btnApproveReject").hide()
        $(".divFlowFrwrd").hide()
      }
      ReqGroupID = rowdata.NonITAssetRequest.ReqGroupID
      $("#NonITAssetReqGroupID").val(rowdata.NonITAssetRequest.ReqGroupID)

      // to fill approved data flow
      $.ajax({
        url: "/NonITAssetReq_ApprovalStatusList/" + rowdata.NonITAssetRequest.ReqGroupID,
        type: 'POST',
        async: false,
        success: function (data) {

          var totalGrades = data[0].Grade
          var leftgrades = totalGrades - data.length
          for (let i = 0; i < data.length; i++) {
            var icon = "ik-alert-circle"
            var color = "yellow"
            var status = ""
            if (data[i].Status == "Requested") {
              IDNonitasset_Req_approvals = data[i].IDNonitasset_Req_approvals
              color = "yellow"
              icon = "ik-alert-circle"
              status = 'Pending'
            } else if (data[i].Status == "Rejected") {
              color = "red"
              icon = "ik-x"
              status = 'Rejected'

            } else {
              color = "green"
              icon = "ik-check"
              status = 'Approved'
            }
            var GDlevel = data[i].Grade
            var flowhtml = ' <div class="row flow pb-30"><div class="col-auto text-right update-meta pr-0">'
            flowhtml += '<i class="ik ' + icon + ' bg-' + color + ' update-icon"></i>'
            flowhtml += '  </div><div class="col pl-5"><a href="#!"><h6>' + status + '</h6> </a>'
            flowhtml += '<p class="mb-2">' + data[i].Employee.FirstName + ' - ' + data[i].RoleName + ' </p> '
            flowhtml += '<p class="text-muted mb-0"></p> ' + data[i].Comments + ' </div> </div>'
            divflow.append(flowhtml)

          }
          //  var count = 1;
          // "{{range .Data}}"
          // if (count != data.length && count > data.length) {

          //   if (!NextRoleID) {

          //     NextRoleID = "{{.MultiLevelApproval_Map.Role.IDRoles}}"
          //     NextGrade = "{{.MultiLevelApproval_Map.Grade}}"
          //   }
          //   var flowhtml = ' <div class="row flow pb-30"><div class="col-auto text-right update-meta pr-0">'
          //   flowhtml += '<i class="ik '+icon+'  update-icon" style="background-color: gray;"></i>'
          //   flowhtml += '  </div><div class="col pl-5"><a href="#!"><h6>Pending </h6> </a>'
          //   flowhtml += '<p class="text-muted mb-0"> </p>{{.MultiLevelApproval_Map.Role.RoleName}}</div> </div>'
          //   divflow.append(flowhtml)
          // }
          // count++
          // " {{end}}"

          "{{range .Data}}"
          if ("{{.MultiLevelApproval_Map.Grade}}" < GDlevel) {

            if (!NextRoleID) {

              NextRoleID = "{{.MultiLevelApproval_Map.Role.IDRoles}}"
              NextGrade = "{{.MultiLevelApproval_Map.Grade}}"
            }
            var flowhtmll = ' <div class="row flow pb-30"><div class="col-auto text-right update-meta pr-0">'
            flowhtmll += '<i class="ik ' + icon + '  update-icon" style="background-color: gray;"></i>'
            flowhtmll += '  </div><div class="col pl-5"><a href="#!"><h6>Pending </h6> </a>'
            flowhtmll += '<p class="text-muted mb-0"> </p>{{.MultiLevelApproval_Map.Role.RoleName}}</div> </div>'
            divflow.append(flowhtmll)
          }

          " {{end}}"



        }
      });
      if (NextRoleID) {
        var url = "/GetApprovers/" + parseInt($("#locationid").val()) + "/" + parseInt(NextRoleID)

        var aprvr = getdata(url)
        $("#Approver").empty().append('<option value="">--select--</option>');
        $.each(aprvr, function (i, el) {
          $("#Approver").append($("<option />", { text: el.Employee.FirstName, value: el.EmployeeID }));
        });
      }





    })

    $("#FlowApprove").click(function () {
      //var ApproverComments = $("#ApproverComments").val()
      if ($('#Comments').val() == "") {
        Toast('warning', "Please enter comments.")
        // alert("Please enter comments.")
        $('#Comments').focus();
        return;
      }
      if ($('#Approver').val() == "") {
        Toast('warning', "Please select Approver.")
        //alert("Please select Approver.")
        $('#Approver').focus();
        return;
      }
      var data = new Object();
      data.Status = "Approved"
      data.Comments = $('#Comments').val()
      data.IDNonitasset_Req_approvals = parseInt(IDNonitasset_Req_approvals)
      data.NonITAssetReqGroupID = parseInt(ReqGroupID)
      data.NextRoleID = parseInt(NextRoleID)
      data.NextApproverID = parseInt($('#Approver').val())
      data.NextGrade = parseInt(NextGrade)



      $.ajax({
        url: "/NonITAssetReqForward",
        type: 'POST',
        async: false,
        data: JSON.stringify(data),
        success: function (data) {
          Toast('success', 'Request forwarded successfully')
          window.location.reload();
        }, error: function () {
          alert('Internal error')
        }
      });
    })

    $("#FlowReject").click(function () {
      var aprvl = new Object()
      var ApproverComments = $("#ApproverComments").val()
      if ($('#ApproverComments').val() == "") {
        Toast('warning', "Please enter comments.")
        $('#ApproverComments').focus();
        return;
      }
      aprvl.Comments = ApproverComments
      aprvl.IDNonitasset_Req_approvals = parseInt(IDNonitasset_Req_approvals)
      aprvl.NonITAssetReqGroupID = parseInt(NonITAssetReqGroupID)
      $.ajax({
        url: "/NonITAssetReqReject",
        type: 'POST',
        data: JSON.stringify(aprvl),
        // dataType: 'json'
        success: function (data) {
          location.reload()
        }
      });
    });

  });


</script>


{{template "footer"}}
{{end}}