{{  define "NonITAssets_View"}}
{{template "head" .}}
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">

                    <h5>{{.Data.NonITAssets_Master.NonITAssets_Name}} - Asset</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="btn-group dropleft float-right">
                <a class="font-weight-bold btn btn-outline-primary btn-rounded dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" href="javascript:void(0)"><span>Actions</span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/NonITAsset/Edit/{{.Data.IDNonITAsset}}">
                        <i class="ik ik-edit" aria-hidden="true"></i>Edit</span>
                    </a>
                    <!-- <a class="dropdown-item" href="/NonITAsset/Create?mode=clone&&id={{.Data.IDNonITAsset}}">
                        <i class="fa fa-clone" aria-hidden="true"></i><span> Clone</span>
                    </a> -->
                    {{if .Auth.DeleteNonITAsset }}
                    <a class="dropdown-item list-delete" href="#"> <i class="ik ik-trash " aria-hidden="true"></i>
                        <span> Delete</span>
                    </a>
                    {{end}}

                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body min-vh-100  ">
        <ul class="nav nav-tabs nav-pills nav-justified " id="AssetTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link  active" href="#NonITAssetDetails" role="tab" data-toggle="tab"
                    aria-selected="true">NonITAssets
                    Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#NonITAssetCheckIN" role="tab" data-toggle="tab">Check-In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#NonITAssetHistory" role="tab" data-toggle="tab">History</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content  ">
            <div role="tabpanel" class="tab-pane fade show active  " id="NonITAssetDetails">
                <div class=" mt-2 row">
                    <div class="col-md-5">
                        <div class="form-group  row ">
                            <div class="col text-info">Asset Name:</div>
                            <div class="col">{{.Data.NonITAssets_Master.NonITAssets_Name}} </div>
                        </div>
                        <div class="form-group  row ">
                            <div class=" col text-info ">Group:</div>
                            <div class=" col ">{{.Data.NonITAssets_Groups.NonITAssets_GroupName}} </div>
                        </div>
                        <div class="form-group  row ">
                            <div class=" col text-info ">Total Quantity:</div>
                            <div class=" col ">{{.Data.TotalQnty}} </div>
                        </div>
                        <div class="form-group  row ">
                            <div class=" col text-info ">Avaialble Quantity:</div>
                            <div class=" col ">{{.Data.AvailableQnty}} </div>
                        </div>
                        <div class="form-group  row ">
                            <div class=" col text-info ">InUse Quantity:</div>
                            <div class=" col ">{{.Data.InUseQnty}} </div>
                        </div>
                        <div class="form-group  row ">
                            <div class=" col text-info ">Threshold Quantity:</div>
                            <div class=" col ">{{.Data.ThresholdQnty}} </div>
                        </div>
                        <div class="form-group  row ">
                            <div class=" col text-info ">Reorder Stock Price:</div>
                            <div class=" col "> ₹ {{.Data.ReOrderStockPrice}} </div>
                        </div>

                        <div class="form-group  row ">
                            <div class=" col text-info ">IdentificationNo No:</div>
                            <div class=" col ">{{.Data.IdentificationNo}} </div>
                        </div>
                        <!-- <hr />
                        <div class="form-group row">
                            <div class="col">Status:</div>
                            <div class="col"> <span class="badge  badge-success">{{.Data.Status.StatusName}}</span>
                            </div>

                        </div> -->
                    </div>
                    <div class="col-md-4  ">
                        <img id="profile-img" class="img-thumbnail img-fluid mx-auto d-block" width="auto" height="auto"
                            src="/AppFiles/Images/NonITAsset/{{.Data.Img}}" alt="Not Found" />
                    </div>
                    <div class="col-md-3 btn-group  btn-group-vertical align-self-start    ">

                        <button data-toggle="modal" data-target="#addstockmodal" class="btn btn-info m-1 ">Add
                            Stock</button>
                        <a href="/NonITAssets/Checkout/{{.Data.IDNonITAsset}}" class="btn btn-info m-1 ">Check-Out</a>

                        <button data-toggle="modal" data-target="#retiremodal" class="btn btn-info m-1 ">Retire
                            Stock</button>

                        <button id="btnPrintQr" class="btn btn-info m-1 ">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            <span class="">Print QR</span>
                        </button>

                    </div>
                </div>
                <div class=" mt-2 row">

                    <div class="col-md-6">
                        <hr />
                        <div class="form-group  row ">
                            <div class="col text-info">Description:</div>
                            <div class="col">{{.Data.Description}} </div>
                        </div>

                        <div class="form-group  row ">
                            <div class=" col text-info ">depreciation:</div>
                            <div class=" col ">--</div>
                        </div>

                        <div class="form-group  row ">
                            <div class=" col text-info ">Location:</div>
                            <div class=" col ">{{.Data.Locations.Name}} <br />{{.Data.Locations.Address1}}
                                <br />{{.Data.Locations.Zipcode }}</div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <hr />
                        <div class="form-group  row ">
                            {{if ne .Data.CustomFields1Type "" }}
                            <div class="col text-info">{{.Data.CustomFields1}}:</div>
                            <div class="col">{{.Data.CustomFields1Value}} </div>
                            {{end}}
                        </div>
                        <div class="form-group  row ">
                            {{if ne .Data.CustomFields2Type "" }}
                            <div class="col text-info">{{.Data.CustomFields2}}:</div>
                            <div class="col">{{.Data.CustomFields2Value}} </div>
                            {{end}}
                        </div>
                        <div class="form-group  row ">
                            {{if ne .Data.CustomFields3Type "" }}
                            <div class="col text-info">{{.Data.CustomFields3}}:</div>
                            <div class="col">{{.Data.CustomFields3Value}} </div>
                            {{end}}
                        </div>
                        <div class="form-group  row ">
                            {{if ne .Data.CustomFields4Type "" }}
                            <div class="col text-info">{{.Data.CustomFields4}}:</div>
                            <div class="col">{{.Data.CustomFields4Value}} </div>
                            {{end}}
                        </div>
                        <div class="form-group  row ">
                            {{if ne .Data.CustomFields5Type "" }}
                            <div class="col text-info">{{.Data.CustomFields5}}:</div>
                            <div class="col">{{.Data.CustomFields5Value}} </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="NonITAssetCheckIN">
                <div id="divNonITAssetCheckIN">
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="NonITAssetHistory">
                <div id="divNonITAssetHistory">
                </div>
            </div>
        </div>
    </div>
</div>



<!--retire Modal -->
<div class="modal fade" id="retiremodal" tabindex="-1" role="dialog" aria-labelledby="retiremodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="retiremodalTitle">Retire Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmRemovestock" method="POST">
                    <input type="hidden" name="NonITAsset_ID" value="{{.Data.IDNonITAsset}}">
                    <input type="hidden" name="OrderedBy" value="{{.User.IDEmployees}}">
                    <div class="form-group row">
                        <label for="Reason" class="col-md-3 col-form-label ">Reason:</label>
                        <div class="col-md-9">
                            <select name="StatusID" required id="StatusID" class="form-control float-left  w-auto">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Retire Stock Quantity:</label>
                        <div class="col-sm-9 ">
                            <input type="number" required id="Quantity" title="Retire Stock Quantity" min="1"
                                name="Quantity" class="form-control  w-auto">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Commnets" class="col-md-3 col-form-label">Comments:</label>
                        <div class="col-md-9">
                            <textarea name="Comments" required maxlength="500" class="form-control form-control-sm"
                                id="RetireComments" placeholder="Comments"></textarea>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <input type="submit" class="btn btn-primary btn-sm" value="Retire" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--add stock Modal -->
<div class="modal fade" id="addstockmodal" tabindex="-1" role="dialog" aria-labelledby="addstockmodalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addstockmodalTitle">Add Stock</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmAddstock" method="POST">
                    <input type="hidden" name="NonITAsset_ID" value="{{.Data.IDNonITAsset}}">
                    <input type="hidden" name="OrderedBy" value="{{.User.IDEmployees}}">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Add Stock Quantity:</label>
                        <div class="col-sm-9 ">
                            <input type="number" required id="Quantity" title="Add Stock Quantity" min="1"
                                name="Quantity" value="{{.Data.ReOrderQuantity}}" class="form-control  w-auto">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Price / Unit:</label>
                        <div class="col-sm-6 ">
                            <div class="input-group">
                                <input type="number" required id="UnitPrice" title="Asset Price" min="0"
                                    name="UnitPrice" class="form-control" value="{{.Data.ReOrderStockPrice}}">
                                <span class="input-group-append">
                                    <label class="input-group-text">₹</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Total adding stock price:</label>
                        <div class="col-sm-6 ">
                            <div class="input-group">
                                <input type="number" required readonly id="TotalStockPrice" name="TotalStockPrice"
                                    class="form-control">
                                <span class="input-group-append">
                                    <label class="input-group-text">₹</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="VendorID" class="col-sm-3 col-form-label ">Vendor:</label>
                        <div class="col-sm-9 ">
                            <div class="input-group">
                                <select name="VendorID" required id="VendorID" class="form-control">
                                    <option value="">--select--</option>
                                </select>
                                <span class="input-group-append ">
                                    <label class="input-group-text bg-info"><a href="#" id="btnVendorAdd"
                                            data-toggle="modal" data-target="#VendorADDmodal"
                                            title="Add Vendor">Add</a></label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Warranty" class="col-sm-3 col-form-label ">Warranty:</label>
                        <div class="col-sm-9 form-inline">
                            <input type="text" name="Warranty" class="form-control datetimepicker-input"
                                data-toggle="datetimepicker" autocomplete="off" data-target="#Warranty" id="Warranty" placeholder="yyyy-mm-dd">
                            <span><text id="txtWarranty" class=""></text></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Commnets" class="col-md-3 col-form-label">Comments:</label>
                        <div class="col-md-9">
                            <textarea name="Comments" maxlength="500" required maxlength="500"
                                class="form-control form-control-sm" id="Comments" placeholder="Comments"></textarea>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <input type="submit" class="btn btn-primary btn-sm" value="Add Stock" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!--QR Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emodalTitle">QR Generator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalbody" class="modal-body">

            </div>
        </div>
    </div>
</div>
<!-- VendorADD Modal -->
<div class="modal fade bd-example-modal-lg" id="VendorADDmodal" tabindex="-1" role="dialog"
    aria-labelledby="VendorADDmodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VendorADDmodalTitle">Add Vendor</h5>
                <button type="button" id="VendorADDmodalclose" class="close" data-dismiss="modal"
                    data-target="#VendorADDmodal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body " id="divVendorADD">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#RetireDate').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#Warranty').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        data = getdata('/GetVendors')
        loadVendors(data)
        data = getdata('/status/nonitasset')
        LoadStatus(data)



    });

    $(document).ready(function () {
        $("#Warranty").blur(function () {

            var selected_date = $(this).val()
            var d = new Date(selected_date)
            var today = new Date()
            if (d < today) {
                $("#txtWarranty").text("Product expired")
                $("#txtWarranty").removeClass("text-success")
                $("#txtWarranty").addClass("text-danger")
            }
            else {

                var diff = Math.floor(d.getTime() - today.getTime());
                var day = 1000 * 60 * 60 * 24;
                var days = Math.floor(diff / day);
                var months = Math.floor(days / 31);
                var years = Math.floor(months / 12);
                var message = days + " days " + months + " months " + years + " years"
                $("#txtWarranty").text(message)
                $("#txtWarranty").removeClass("text-danger")
                $("#txtWarranty").addClass("text-success")
            }

        });

        //to show the name of file on file upload
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        //tabs


        $("#btnVendorAdd").click(function () {
            $("#divVendorADD").load("/Vendors", null, function () {
            });
        })

        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            //localStorage.setItem('activeTab', $(e.target).attr('href'));
            if ($(e.target).attr('href') == "#NonITAssetHistory") {
                $("#divNonITAssetCheckIN").empty()
                $("#divNonITAssetHistory").load('/NonITAssetOprtnListByID/{{.Data.IDNonITAsset}}', function () {
                });

            } else if ($(e.target).attr('href') == "#NonITAssetCheckIN") {
                $("#divNonITAssetHistory").empty()
                $("#divNonITAssetCheckIN").load("/NonITAssetCheckinDetails_Partial?mode=asset&ID={{.Data.IDNonITAsset}}")

            }

        });
        // var activeTab = localStorage.getItem('activeTab');
        // if (activeTab) {
        //     $('#AssetTab a[href="' + activeTab + '"]').tab('show');
        // }


        $("#frmAddstock input[name='TotalStockPrice']").val($("#frmAddstock input[name='Quantity']").val() * $("#frmAddstock input[name='UnitPrice']").val())
        $("#frmAddstock input[name='Quantity'],#frmAddstock input[name='UnitPrice']").change(function () {
            $("#frmAddstock input[name='TotalStockPrice']").val($("#frmAddstock input[name='Quantity']").val() * $("#frmAddstock input[name='UnitPrice']").val())
        })
        $("#frmRemovestock input[name='Quantity']").change(function () {

            if (parseInt($("#frmRemovestock input[name='Quantity']").val()) > parseInt("{{.Data.AvailableQnty}}")) {
                alert("Retired Quantity should be less than Avaialble Quantity");
                $("#frmRemovestock input[name='Quantity']").val("")

            }

        })


        $("#frmAddstock").submit(function (e) {
            e.preventDefault();
            var fd = new FormData(this);
            $.ajax({
                url: "/NonITAssets/AddStock",
                type: 'POST',
                data: fd,
                // dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    alert('Stock Added successfully')
                    window.location.reload();

                }, error: function () {
                    alert("Internal errror");
                    window.location.reload();
                }
            });
        })

        $("#frmRemovestock").submit(function (e) {
            e.preventDefault();
            var fd = new FormData(this);
            $.ajax({
                url: "/NonITAssets/Removestock",
                type: 'POST',
                data: fd,
                // dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    alert('Stock Retired successfully')
                    window.location.reload();

                }, error: function () {
                    alert("Internal errror");
                    window.location.reload();
                }
            });
        })



    });
    function LoadStatus(data) {
        $("#StatusID").empty().append('<option selected="selected" value="0">--select--</option>');
        $.each(data, function (i, el) {
            $("#StatusID").append($("<option />", { text: el.StatusName, value: el.IDStatus }));
        });
    }
    $("#modalbody").load("/QrGenerator", 1, function () {

    })

    $("#btnPrintQr").click(function () {

        $("#modalbody").load("/QrGenerator?name={{.Data.NonITAssets_Master.NonITAssets_Name}}&Idntfctn={{.Data.IdentificationNo}}")
        $("#modal").modal('show')
    })
    function PrintQr() {
        var url = window.location.href;
        window.open("/PrintQr?url=" + url + "")
    }
    function loadVendors(data) {
        $("#Vendor").empty().append('<option selected="selected" value="0">--select--</option>');
        $.each(data, function (i, el) {
            $("#VendorID").append($("<option />", { text: el.Name + "\n" + el.Address + "\n" + el.Email + "\n" + el.ContactPersonName + "\n" + el.Phone + "\n", value: el.Idvendors }));
        });
    }


    $(document).ready(function () {
        var listDelete = $('.list-delete');
        listDelete.on('click', function () {
            swal({
                title: "Are you sure?",
                text: "Record will be delete Permanently.",
                icon: "warning",
                buttons: ["Cancel", "Delete"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal({
                            title: "Deleted",
                            text: "NonITAsset  has been deleted!",
                            icon: "success",
                        });

                        window.location = "http://" + document.location.host + "/NonITAssetDelete/{{.Data.IDNonITAsset}}"


                    } else {
                        swal("NonITAsset is not deleted!");
                    }
                });
        });

    })


</script>
{{template "footer"}}
{{end}}