{{  define "Requisition_Edit"}}
{{template "head" .}}


<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h5>Requisition Edit</h5>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group  row  ">
                    <input type="hidden" id="Grade" value="{{.Data.Grade}}">
                    <input type="hidden" id="RoleID" value="{{.Data.RoleID}}">
                    <input type="hidden" id="IDRequisition_Requests" value="{{.Data.POR.IDRequisition_Requests}}">
                    <div class="col-md-6">
                        <div class=" row">
                            <label for="LocationID" class="col-sm-4 col-form-label">Delivery Location</label>
                            <div class="col-sm-6">
                                <select name="LocationID" id="LocationID" class="form-control ">
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="mt-0 row ">
                            <text id="LocationsAddress" class="align-self-center col-form-label">--</text>
                        </div>
                    </div>
                </div>
                <div class="form-group row  ">
                    <div class="col-md-6">
                        <div class=" row">
                            <label for="VendorID" class="col-sm-4 col-form-label">Vendor Name</label>
                            <div class="col-sm-6">
                                <select name="VendorID" id="VendorID" class="form-control ">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-0 row ">
                            <label id="VendorsAddress" class="col-sm-3 col-form-label">--</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-sm-3 col-form-label">Approver:</label>
                    <div class="col-sm-3 ">
                        <select name="ApproverID" id="ApproverID" class="form-control ">
                        </select>
                    </div>
                </div>
                <div class=" form-group row">
                    <label class="col-sm-3 col-form-label">RequestedBy:</label>
                    <div class="col-sm-6 ">
                        <label class="col-sm-3 col-form-label"> {{.User.FirstName}}</label>

                    </div>
                </div>
                <div class=" form-group row">
                    <label class="col-sm-3 col-form-label">Description:</label>
                    <div class="col-sm-6 ">
                        <textarea name="Description" maxlength="500" required placeholder="Decription"
                            title="Description" class="form-control " id="Description"></textarea>

                    </div>
                </div>
                <div class=" form-group row">
                    <label class="col-sm-3 col-form-label">Shipment Terms:</label>
                    <div class="col-sm-6 ">
                        <textarea name="ShipmentTerms" maxlength="500" required placeholder="Shipment Decription"
                            title="Shipment Description" class="form-control " id="ShipmentTerms"></textarea>

                    </div>
                </div>
                <div class=" form-group row">
                    <label class="col-sm-3 col-form-label">Payment Terms:</label>
                    <div class="col-sm-6 ">
                        <textarea name="PaymentTerms" maxlength="500" required placeholder="Payment Terms"
                            title="PaymentTerms" class="form-control " id="PaymentTerms"></textarea>
                    </div>
                </div>
                <hr>

                <div id="divConsumable">
                    <div class="form-group row ">
                        <label for="IDConsumable_Master" class="col-sm-3 col-form-label">Consumable Name:</label>
                        <div class="col-sm-6">
                            <select name="IDConsumable_Master" class="form-control " id="IDConsumable_Master">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-sm-3 col-form-label">Req Quantity:</label>
                    <div class="col-sm-2">
                        <input type="number" id="ReqQuantity" min="1" class="form-control">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-sm-3 col-form-label">Price/Unit:</label>
                    <div class="col-sm-2 ">
                        <div class="input-group">
                            <input type="number" readonly id="PricePerUnit" min="0" class="form-control">
                            <span class="input-group-append">
                                <label class="input-group-text">₹</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class=" form-group row">
                    <label class="col-sm-3 col-form-label">Asset Comments:</label>
                    <div class="col-sm-6 ">
                        <textarea name="AssetComments" maxlength="500" required placeholder="Comments" title="Comments"
                            class="form-control " id="AssetComments"></textarea>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <input type="button" id="btnAddtoList" class="btn btn-primary btn-sm " value="Add to List" />
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-title ml-3">
                Items List
            </div>
            <div class="card-block ">
                <div class="dt-responsive ">
                    <table class="table table-hover nowrap table-bordered" id="tblCatlogList">
                        <thead>
                            <th>AssetID</th>

                            <th>Asset Name</th>
                            <th>Req Quantity</th>
                            <th>Price/Unit</th>
                            <th>Total Price</th>
                            <th>Comments</th>

                            <th>Action</th>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row justify-content-end">

                <label class="col-sm-3 col-form-label text-bold"><strong>Total Payable Ammount:</strong> ₹ <span
                        id="totalammount">0</span></label>

            </div>
        </div>

        <div class="row justify-content-center">
            <button type="button" id="btnDraft" class="btn btn-primary btn-sm m-1 ">Update Draft</button>
            <button type="button" id="btnSubmitRequest" class="btn btn-primary btn-sm m-1 ">Submit Request</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function GetConsumableMasterList(data) {
            $("#IDConsumable_Master").empty().append('<option value="">--select--</option>');
            $.each(data, function (i, el) {
                $("#IDConsumable_Master").append($("<option />",
                    { 'data-price': el.Vendors_consumablemaster_map.PriceperUnit, text: el.Consumablemaster.ConsumableName, value: el.Consumablemaster.IDconsumableMaster }));
            });
        }
        function loadLocations(data) {
            $("#LocationID").empty().append('<option value="" >--select--</option>');
            $.each(data, function (i, el) {
                $("#LocationID").append($("<option />", { "data-Address1": el.Address1, "data-Address2": el.Address2, "data-Countryname": el.Countryname, "data-Zipcode": el.Zipcode, "data-Statename": el.Statename, text: el.Name, value: el.IDLocations }));
            });
        }
        function loadApprovers(data) {
            $("#ApproverID").empty().append('<option value="">--select--</option>');
            $.each(data, function (i, el) {
                $("#ApproverID").append($("<option />", { text: el.Employee.FirstName, value: el.Employee.IDEmployees }));
            });
        }
        function loadVendors(data) {
            $("#VendorID").empty().append('<option value="">--select--</option>');
            $.each(data, function (i, el) {
                $("#VendorID").append($("<option />", { "data-Address": el.Address, "data-Email": el.Email, "data-ContactPersonName": el.ContactPersonName, "data-Phone": el.Phone, text: el.Name, value: el.Idvendors }));
            });
        }

        var data = getdata('/GetLocations')
        loadLocations(data)
        var data = getdata('/GetVendors')
        loadVendors(data)
        var data = getdata('/GetApprovers/' + $("#locationid").val() + "/{{.Data.RoleID}}")
        loadApprovers(data)

        var tbl = $('#tblCatlogList').DataTable({
            responsive: true,
            "processing": true,
            scrollY: $(window).height() - 450,
            scrollCollapse: true,
            scrollX: true,
            //  destroy: true,
            dom: 'rt',
            ajax: {
                "url": '/RequisitionAssetDetailsByID/{{.Data.POR.IDRequisition_Requests}}',
                "type": "POST",
                "datatype": "json",
                "dataSrc": ""//to read data from a plain array rather than an array in an object:
            },
            "ordering": false,
            columnDefs: [
                { visible: false, targets: 0 }
            ],
            "columns": [
                {
                    "name": "AssetID",
                    'data': 'AssetID'
                }, {
                    "name": "AssetName",
                    'data': 'AssetName'
                }, {
                    "name": "ReqQuantity",
                    'data': 'ReqQuantity'
                }, {
                    "name": "PriceperUnit",
                    'data': null,
                    render: function (dt) {
                        return "₹" + dt.PriceperUnit
                    }
                }, {
                    "name": "TotalPrice",
                    'data': null,
                    render: function (dt) {
                        return "₹" + parseInt(dt.PriceperUnit) * parseFloat(dt.ReqQuantity)
                    }
                }, {
                    "name": "AssetComments",
                    'data': 'AssetComments'
                }, {
                    "name": "Action",
                    'data': null,
                    render: function (dt) {
                        return "<button  title='Delete' data-totalprice='" + parseInt(dt.PriceperUnit) * parseFloat(dt.ReqQuantity) + "'   class='rowDelete btn btn-link text-red '><i class='ik ik-trash btn-md '></i></button>"
                    }
                }]

        });



        $("#LocationID").change(function () {
            if ("{{.Auth.Accesstoalllocations}}") {
            }
            else {
                if ($("#LocationID").val() != "") {
                    if ($("#LocationID").val() != $("#locationid").val()) {
                        Toast("warning", "you are not access to select other locations")
                        $("#LocationID").val("")
                        $('#LocationsAddress').html("--")
                        return
                    }
                } else {
                    $('#LocationsAddress').html("--")
                    return
                }

            }
            var html = "<p class=' text-wrap m-0'> " + $("#LocationID option:selected").attr("data-Address1") + ",</p>"
            html += "<p class=' text-wrap m-0'>" + $("#LocationID option:selected").attr("data-Address2") + "," + $("#LocationID option:selected").attr("data-Zipcode") + "</p>"
            // html += "<p>" + $("#LocationID option:selected").attr("data-Countryname") + ",</p>"
            // html += "<p>" + $("#LocationID option:selected").attr("data-Statename") + ",</p>"
            //  html += "<p>" + $("#LocationID option:selected").attr("data-Zipcode") + "</p>"
            $('#LocationsAddress').html(html)
        })

        $("#VendorID").change(function () {
            if ($("#VendorID").val() == "") {
                $('#VendorsAddress').html("--")
                return
            }
            var html = "<p class='text-nowrap m-0 '> " + $("#VendorID option:selected").attr("data-Address") + "</p>"
            html += "<p class='text-nowrap m-0 '>" + $("#VendorID option:selected").attr("data-Email") + "," + $("#VendorID option:selected").attr("data-Phone") + "</p>"
            $('#VendorsAddress').html(html)
            var data = getdata('/GetConsumableMastersByVendors/' + $("#VendorID").val())
            GetConsumableMasterList(data)

            tbl.clear().draw();
            $("#totalammount").text(0)
            $("#AssetComments").val('')
            $("#PricePerUnit").val('')
            $("#ReqQuantity").val('')
            $("#IDConsumable_Master").val('')
        })






        $("#IDConsumable_Master").change(function () {
            $("#PricePerUnit").val($("#IDConsumable_Master option:selected").attr('data-price'))
            $("#AssetComments").val('')
            $("#ReqQuantity").val('')
        });

        $("#btnAddtoList").click(function () {
            var PricePerUnit = $("#PricePerUnit").val();
            var AssetComments = $("#AssetComments").val();
            var ReqQuantity = $("#ReqQuantity").val();

            var AssetID = ""
            var AssetName = ""
            if ($("#VendorID").val() == "") {
                Toast('warning', 'Please select vendor')
                return;
            }
            {
                AssetID = $("#IDConsumable_Master").val()
                AssetName = $("#IDConsumable_Master option:selected").text()
                if (AssetID == "") {
                    Toast('warning', 'Please select an Asset')
                    return
                }
            }

            //validations
            if (ReqQuantity <= 0 || ReqQuantity == "") {
                Toast('warning', 'Please enter Requested Quantity')
                return
            }
            else if (AssetComments == "") {
                Toast('warning', 'Please enter comments')
                return
            }

            tbl.row.add({
                "SNo": $('#tblCatlogList').DataTable().rows().count() + 1,
                "AssetID": AssetID,
                "AssetName": AssetName,
                "ReqQuantity": ReqQuantity,
                "PriceperUnit": PricePerUnit,
                "TotalPrice": parseFloat(ReqQuantity) * parseFloat(PricePerUnit),
                "AssetComments": AssetComments,
                "Actions": "<button  title='Delete' data-totalprice='" + parseFloat(ReqQuantity) * parseFloat(PricePerUnit) + "'   class='rowDelete btn btn-link text-red '><i class='ik ik-trash btn-md '></i></button>"
            }).draw();
            var price = $("#totalammount").text()
            if (price == "")
                price = 0
            $("#totalammount").text((parseFloat(ReqQuantity) * parseFloat(PricePerUnit)) + parseFloat(price))
            $("#VendorID").prop('read');
            $("#AssetComments").val('')
            $("#PricePerUnit").val('')
            $("#ReqQuantity").val('')
            $("#IDConsumable_Master").val('')

        })

        $('#tblCatlogList tbody').on('click', '.rowDelete', function () {
            var tr = tbl.row($(this).parents('tr'))
            var price = $("#totalammount").text()
            if (price == "")
                price = 0
            debugger;
            var assettotalprice = $(this).attr('data-totalprice')
            $("#totalammount").text(parseFloat(price) - assettotalprice)

            tr.remove().draw();

        });

        $("#btnDraft").click(function () {
            if ($("#LocationID").val() == "") {
                Toast('warning', 'Please select Deleivery Location')
                $("#LocationID").focus();
                return;
            } else if ($("#VendorID").val() == "") {
                Toast('warning', 'Please select Vendor')
                $("#VendorID").focus();
                return;
            } else if ($("#ApproverID").val() == "") {
                Toast('warning', 'Please select Approver')
                $("#ApproverID").focus();
                return;
            }

            var array = new Array()
            tbl.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var data = this.data();
                debugger;
                var objAssets = new Object()
                objAssets.Requisition_RequestsID = parseInt($("#IDRequisition_Requests").val());
                objAssets.AssetName = data.AssetName;
                objAssets.AssetID = parseInt(data.AssetID);
                objAssets.PricePerUnit = parseFloat(data.PriceperUnit);
                objAssets.AssetComments = data.AssetComments;
                objAssets.ReqQuantity = parseInt(data.ReqQuantity);

                objAssets.CreatedBy = parseInt($("#employeeid").val());
                array.push(objAssets)
            });


            var res = new Object();
            res.IDRequisition_Requests = parseInt($("#IDRequisition_Requests").val());
            res.LocationID = parseInt($("#LocationID").val());
            res.VendorID = parseInt($("#VendorID").val());

            res.RequestedBy = parseInt($("#employeeid").val());
            res.ModifiedBy = parseInt($("#employeeid").val());
            res.Description = $("#Description").val();
            res.ShipmentTerms = $("#ShipmentTerms").val();
            res.PaymentTerms = $("#PaymentTerms").val();
            res.TotalAmmount = parseFloat($("#totalammount").text())
            res.StatusID = 39 //draft
            res.ListRequisition_Assets = array

            $.ajax({
                url: "/Requisition_RequestsUpdate",
                type: "POST",
                dataType: 'json',
                data: JSON.stringify(res),
                async: false,
                success: function (dt) {
                    alert('Requisition added to Draft.')
                    location.reload();
                }, error: function () {
                    alert('Internal error')
                }
            });

        });

        $("#btnSubmitRequest").click(function () {
            if ($("#LocationID").val() == "") {
                Toast('warning', 'Please select Deleivery Location')
                $("#LocationID").focus();
                return;
            } else if ($("#VendorID").val() == "") {
                Toast('warning', 'Please select Vendor')
                $("#VendorID").focus();
                return;
            } else if ($("#ApproverID").val() == "") {
                Toast('warning', 'Please select Approver')
                $("#ApproverID").focus();
                return;
            }


            if ($("#LocationID").val() == "") {
                Toast('warning', 'Please select Deleivery Location')
                $("#LocationID").focus();
                return;
            } else if ($("#VendorID").val() == "") {
                Toast('warning', 'Please select Vendor')
                $("#VendorID").focus();
                return;
            } else if ($("#ApproverID").val() == "") {
                Toast('warning', 'Please select Approver')
                $("#ApproverID").focus();
                return;
            }

            var array = new Array()
            tbl.rows().every(function (rowIdx, tableLoop, rowLoop) {
                var data = this.data();
                debugger;
                var objAssets = new Object()
                objAssets.Requisition_RequestsID = parseInt($("#IDRequisition_Requests").val());
                objAssets.AssetName = data.AssetName;
                objAssets.AssetID = parseInt(data.AssetID);
                objAssets.PricePerUnit = parseFloat(data.PriceperUnit);
                objAssets.AssetComments = data.AssetComments;
                objAssets.ReqQuantity = parseInt(data.ReqQuantity);
                objAssets.CreatedBy = parseInt($("#employeeid").val());
                array.push(objAssets)
            });
            var Approval = new Object();
            Approval.RoleID = parseInt($("#RoleID").val());
            Approval.ApproverID = parseInt($("#ApproverID").val());
            Approval.Grade = parseInt($("#Grade").val());

            var res = new Object();
            res.IDRequisition_Requests = parseInt($("#IDRequisition_Requests").val());
            res.LocationID = parseInt($("#LocationID").val());
            res.VendorID = parseInt($("#VendorID").val());
            res.RequestedBy = parseInt($("#employeeid").val());
            res.CreatedBy = parseInt($("#employeeid").val());
            res.Description = $("#Description").val();
            res.ShipmentTerms = $("#ShipmentTerms").val();
            res.PaymentTerms = $("#PaymentTerms").val();
            res.TotalAmmount = parseFloat($("#totalammount").text())
            res.StatusID = 40 //Request
            res.ListRequisition_Assets = array
            res.RequisitionApproval = Approval

            $.ajax({
                url: "/Requisition_RequestsUpdate",
                type: "POST",
                dataType: 'json',
                data: JSON.stringify(res),
                async: false,
                success: function (dt) {
                    alert('Requisition Requested successfully.')
                    window.location = "http://" + document.location.host + "/Requisition"
                }, error: function () {
                    alert('Internal error')
                }
            });

        });



        filupdata()
        function filupdata() {
            $("#LocationID").val("{{.Data.POR.LocationID}}")
            $("#LocationID").trigger('change')
            $("#VendorID").val("{{.Data.POR.VendorID}}")
            $("#VendorID").trigger('change')
            $("#Description").val("{{.Data.POR.Description}}")
            $("#ShipmentTerms").val("{{.Data.POR.ShipmentTerms}}")
            $("#PaymentTerms").val("{{.Data.POR.PaymentTerms}}")
            $("#totalammount").text("{{.Data.POR.TotalAmmount}}")
        }

    });

</script>




{{template "footer"}}
{{end}}